doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title ¿De qué trata la carrera de Educación?: cursos y beneficios
        link(rel='preconnect' href='https://fonts.googleapis.com')
        //- link(rel="stylesheet", href="../../css/app.css")
        link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        <meta name="description" content=" Entérate de qué trata la carrera de Educación, qué se estudia, sus beneficios y cómo puedes transformar el futuro siendo parte de esta profesión" />
        <meta name="keywords" content="de que trata la carrera de educacion, carrera de educacion,carrera profesional de educacion, expectativas de las carrera de educacion, campo ocupacional de la carrera de educacion" />
        link(rel="icon" type="image/x-icon" href="../../favicon.png")
        <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-8KHP9CNB7Z')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-8KHP9CNB7Z');
        script.
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '344981290873569');
            fbq('track', 'PageView');
        noscript.
            img(height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=344981290873569&ev=PageView&noscript=1')
        script.
            !function (w, d, t) {
            w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++
            )ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src=i+"?sdkid="+e+"&lib="+t;e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(n,e)};
            ttq.load('CFRU7RRC77UBIS8PL99G');
            ttq.page();
            }(window, document, 'ttq');
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=AW-10905057716')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'AW-10905057716');
    body
        include includes/menu/menuMobile.pug
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
                img.blog-logo(src="https://blogs.cayetano.edu.pe/img/logo-1.webp", alt="", onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')")
                .bloque1LogosSelect
                    h3.dropdown-btn Blog Cayetano
                    ul.dropdown-menu
                        li: a(href="https://blogs.cayetano.edu.pe/") Pregrado
                        li: a(href="https://blogs.cayetano.edu.pe/404.html") Pge  
                        li: a(href="https://blogs.cayetano.edu.pe/404.html") Especialidades
                include includes/search/searchDesktop.pug
                img.top-icon-mobile(src="https://blogs.cayetano.edu.pe/img/icon-menu2.webp", alt="")
                button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=generico&utm_source=blog&utm_medium=organic&utm_content=botonpostula', '_self')")    
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        .bloque6
            .bloque6Container
                .bloque6Calendar
                    .bloque6CalendarProgress
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')") Blog Cayetano
                        h5 |
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/', '_self')") Blog Pregrado
                    .bloque6CalendarInfo
                        img(src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                        h3 10 de marzo del 2025
                    .bloque6Title
                        h1 ¿De qué trata la carrera de Educación? Prepárate para transformar la enseñanza en el Perú
                    .bloque6Item
                        h4.bloque6ItemEducacion Educación
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                    .bloque6Flex
                        .bloque6Left
                            img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/Nota-27.webp", alt=" La carrera de Educación te prepara para brindar una enseñanza significativa", title="De qué trata la carrera de Educación")
                            .bloque6LeftRedes
                                h3 Compartir en redes:
                                .bloque6LeftRedesContent
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-fb.webp", alt="", onclick="window.open(`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-wp.webp", alt="", onclick="window.open(`https://api.whatsapp.com/send?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-x.webp", alt="", onclick="window.open(`https://x.com/intent/post?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-link.webp", alt="", onclick="window.open(`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(window.location.href)}`, '_self')")
                            .bloque6LeftIndex
                                h3.indexclicker Índice
                                .bloque6LeftIndexContent
                                    ol 
                                        li: a(href="#h-uno"): h2 ¿En qué consiste la carrera profesional de Educación? 
                                        li: a(href="#h-dos"): h2 ¿Qué se estudia en la carrera de Educación?
                                        li: a(href="#h-tres"): h2 Campo ocupacional de la carrera de Educación
                                        li: a(href="#h-cuatro"): h2 ¿Qué beneficios tiene la carrera de Educación?
                                        
                            .bloque6LeftParagraphs
                                p <strong>¿Te imaginas tener el poder de transformar vidas a través del conocimiento?</strong> La carrera de Educación te ofrece esa oportunidad. De qué trata la carrera de Educación no es solo transmitir información, sino guiar, inspirar y motivar a las personas a alcanzar su máximo potencial.
                                p Este camino profesional<strong> te prepara para diseñar experiencias de aprendizaje significativas, conectar con estudiantes de diversas edades y contextos</strong>, y convertirte en un agente clave para el desarrollo social. 
                                p Es una carrera llena de propósito y posibilidades, perfecta para quienes sueñan con dejar una huella positiva en el mundo. Además, permite especializarte en áreas como educación inicial, primaria, secundaria o incluso en la enseñanza de habilidades específicas, como idiomas o tecnología.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-uno ¿En qué consiste la carrera profesional de Educación?
                                p La carrera de Educación es una profesión que combina vocación, metodología y el uso de tecnologías educativas para transformar vidas a través de la enseñanza. Su objetivo es <strong>formar profesionales que y guíen el aprendizaje de niños entre 6 y 12 años</strong>,utilizando técnicas innovadoras e inclusivas que potencien las habilidades de sus estudiantes. 

                                p Además, desarrolla en sus egresados una profunda comprensión de los procesos pedagógicos y la psicología del aprendizaje, así como la importancia de la empatía y la creatividad para conectar con cada alumno.
                                p Si eliges este camino, no solo serás un facilitador del conocimiento, sino un verdadero agente de cambio con el poder de influir positivamente en el futuro de muchas personas,<strong> ayudándolas a descubrir su potencial y superar desafíos.</strong>
                                p Esta carrera abre puertas en instituciones educativas tradicionales, proyectos sociales, empresas, y en el ámbito digital. Si tienes grandes expectativas sobre la <span onclick="window.open('https://cayetano.edu.pe/pregrado/carreras/educacion/', '_blank')"><strong>carrera de Educación</strong></span>, sigue leyendo y descubre cómo esta profesión puede ser el primer paso hacia una vida llena de impacto.
                                
                                .bloque6LeftParagraphsTitle 
                                    h2#h-dos ¿Qué se estudia en la carrera de educación?
                                p Durante los primeros ciclos, adquirirás una sólida base en áreas como filosofía, historia de la educación, ética, comunicación, biología e informática, complementadas con el <strong>desarrollo personal y cultural</strong>. También se fomenta la <strong>investigación y el pensamiento crítico</strong> mediante cursos como pensamiento científico e investigación y cultura ambiental y desarrollo sostenible, preparando a los futuros docentes para entender y adaptarse al contexto educativo actual.
                                p De hecho, cuando nos preguntamos de qué trata la carrera de educación, es recomendable revisar la malla curricular de la carrera para tener una idea de los cursos y temas que estudiaremos.
                                p A medida que avanzas en esta carrera, te especializarás en disciplinas pedagógicas y metodológicas, como teoría del diseño curricular, neurociencia aplicada a la educación, didáctica y planificación del aprendizaje, integrando herramientas tecnológicas y estrategias innovadoras.  
                                p Los últimos ciclos de la malla curricular de Educación se enfocan en la <strong>gestión educativa, liderazgo, inclusión y nuevas tendencias en educación </strong>, culminando en prácticas pre profesionales y el desarrollo de un trabajo de investigación. Estos elementos aseguran una formación integral que combina conocimientos teóricos, prácticos y éticos para enfrentar los retos del sistema educativo y contribuir al desarrollo social.
                                p A continuación te presentamos nuestra malla curricular de Educación:

                                h3.margin3tab Ciclo 1
                                ul.margin4tab
                                    li Desarrollo personal y autonomía
                                    li Filosofía e historia de la educación
                                    li Comunicación y redacción I
                                    li Matemáticas básicas
                                    li Filosofía y ética
                                    li Actividad complementaria
                                    li Inglés

                                h3.margin3tab Ciclo 2
                                ul.margin4tab
                                    li Biología general
                                    li Comunicación y redacción II
                                    li Ciencias sociales en el contexto actual
                                    li Informática
                                    li Pensamiento científico e investigación
                                    li Cultura ambiental y desarrollo sostenible
                                    li Actividad complementaria II
                                    li Inglés
                                
                                h3.margin3tab Ciclo 3
                                ul.margin4tab
                                    li Indagación y visita pedagógica
                                    li Modelos educativos
                                    li Teoría y psicología del niño
                                    li Problemática y reformas educativas en el Perú
                                    li Actividad complementaria III
                                    li Inglés 3

                                h3.margin3tab Ciclo 4
                                ul.margin4tab
                                    li Investigación y visita pedagógica
                                    li    Teoría y diseño curricular
                                    li    Neurociencia y educación
                                    li    Metodología de la investigación científica
                                    li    Didáctica general
                                    li    Inglés 4
                                    li    Asignatura electiva I
                                
                                h3.margin3tab Ciclo 5
                                ul.margin4tab
                                    li Investigación y visita pedagógica II
                                    li Electivo profesional I
                                    li Educational research
                                    li Electivo profesional II
                                    li Arte en la educación
                                    li Actividad complementaria IV

                                h3.margin3tab Ciclo 6
                                ul.margin4tab
                                    li Investigación y visita pedagógica III
                                    li Planificación y evaluación del aprendizaje I
                                    li Electivo profesional III
                                    li Electivo profesional IV
                                    li Investigación y diagnóstico contextual
                                    li Asignatura electiva II

                                h3.margin3tab Ciclo 7
                                ul.margin4tab
                                    li Investigación y visita pedagógica IV
                                    li Planificación y evaluación del aprendizaje II
                                    li Aprendizaje basado en proyectos
                                    li Educación y psicomotricidad
                                    li Tecnologías de la información y la comunicación en educación
                                    li Legislación de instituciones educativas y de formación comunal
                                    li Asignatura electiva III

                                h3.margin3tab Ciclo 8
                                ul.margin4tab
                                    li Investigación y visita pedagógica V
                                    li Educación inclusiva
                                    li Estadística para la investigación
                                    li Seminario de tesis I
                                    li Gestión y liderazgo de instituciones educativas
                                    li Nuevos escenarios de la educación
                                    li Asignatura electiva

                                h3.margin3tab Ciclo 9
                                ul.margin4tab
                                    li Práctica pre profesional: Gestión educativa I
                                    li Gestión de la tutoría y convivencia escolar
                                    li Métodos innovadores y de emprendimiento para proyectos y programas educativos
                                    li Seminario de tesis II
                                    li Trabajo con padre de familia y comunidad


                                h3.margin3tab Ciclo 10
                                ul.margin4tab
                                    li Práctica pre profesional: Gestión educativa II
                                    li Trabajo de investigación
                                    li Gestión y calidad en instituciones educativas y de formación comunal
                                    li Asignatura electiva

                                
                                .bloque4Banner.bloque4Banner2
                                    .banner2Image
                                        img(src="https://blogs.cayetano.edu.pe/img/banner-image1.webp", alt="")
                                    .banner2Container
                                        .bloque4BannerLeft
                                            h3 ¿Buscas una educación de calidad?
                                            h4 Estudia en la <strong>universidad <br> N.° 1 del Perú</strong>
                                        button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=brand&utm_source=blog&utm_medium=organic&utm_content=banner-1-n2', '_blank')")
                                            h5 Postula aquí
                                            img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")

                                
                                .bloque6LeftParagraphsTitle 
                                    h2#h-tres Campo ocupacional de la carrera de Educación
                                p El campo laboral de la carrera de Educación es muy amplio. Si bien un educador puede desenvolverse en <strong>espacios académicos</strong>, también puede trabajar en<strong> espacios de gestión</strong>, como ministerios y entidades públicas o privadas. Aquí te resumimos una lista de las instituciones en las que podrás desarrollarte como profesional.

                                h3.margin3tab Docencia en instituciones educativas
                                ul.margin4tab
                                    li Educación inicial, primaria y secundaria en colegios públicos y privados.
                                    li Educación superior en institutos pedagógicos y universidades.
                                
                                h3.margin3tab Gestión educativa
                                ul.margin4tab
                                    li Director o subdirector de instituciones educativas.
                                    li Coordinador académico o de áreas específicas.
                                    li Asesor pedagógico en entidades educativas.                                  

                                h3.margin3tab Diseño curricular y desarrollo educativo
                                ul.margin4tab
                                    li Elaboración de programas de estudio y currículos escolares.
                                    li Consultor en proyectos de innovación educativa.
                                
                                h3.margin3tab Educación inclusiva
                                ul.margin4tab
                                    li Especialista en educación para personas con necesidades especiales.
                                    li Orientador en programas de integración e inclusión educativa.
                                  
                                h3.margin3tab Capacitación y formación continua
                                ul.margin4tab
                                    li Instructor en programas de formación para docentes.
                                    li Capacitador en empresas y organizaciones no educativas.
                                
                                h3.margin3tab Investigación educativa
                                ul.margin4tab
                                    li Desarrollo de estudios sobre metodologías de enseñanza y aprendizaje.
                                    li Colaborador en proyectos de investigación educativa en universidades y centros especializados.
                                
                                h3.margin3tab Desarrollo de materiales educativos
                                ul.margin4tab
                                    li Creación de libros, guías didácticas y recursos digitales.
                                    li Diseño de plataformas y contenidos educativos en línea.
                                
                                h3.margin3tab Trabajo comunitario y social
                                ul.margin4tab
                                    li Implementación de proyectos educativos en comunidades rurales y urbanas.
                                    li Facilitador en programas de alfabetización y educación para adultos.
                                
                                h3.margin3tab Consultoría y asesoría
                                ul.margin4tab
                                    li Consultor en políticas públicas y reformas educativas
                                    li Asesor en proyectos educativos para organismos gubernamentales y ONGs.
                                
                                h3.margin3tab Tecnología educativa
                                ul.margin4tab
                                    li Desarrollo e implementación de herramientas tecnológicas para la educación.
                                    li Especialista en TIC aplicadas a entornos educativos.
                                
            

                                h3.margin3tab Gestión de proyectos educativos
                                ul.margin4tab
                                    li Coordinador o gestor en programas educativos nacionales e internacionales.
                                    li Diseñador de proyectos educativos innovadores para organizaciones y empresas.
                                
                                p Esta variedad de opciones garantiza que los egresados de la carrera de Educación puedan desempeñarse en diversos ámbitos, adaptándose a las necesidades de una profesión con diversas oportunidades laborales.
                                
                                .bloque6LeftParagraphsTitle 
                                    h2#h-cuatro ¿Qué beneficios tiene la carrera de educación?
                                p La carrera de Educación no solo te brinda la oportunidad de generar impacto y contribuir con propósito, sino que también ofrece ventajas clave que debes conocer, como <strong> convenios internacionales y certificaciones progresivas.</strong> Sin embargo, estos beneficios pueden variar según la universidad que elijas. Si decides estudiar Educación en Cayetano, aquí te mostramos las razones y beneficios únicos que te están esperando.

                                .bloque6LeftParagraphsTitle 
                                    h3 ¿Por qué estudiar Educación en Cayetano?
                                p Aquí encontrarás más de un motivo para estudiar Educación. Desde el aprendizaje del idioma inglés desde el primer ciclo hasta la elección de tu especialidad a partir del segundo año. Podrás enfocarte en <strong>Educación Inicial o Educación Primaria,</strong> y eso es solo el comienzo. Descubre más razones a continuación.
                                
                               
                                .other2
                                    h4 Formación integral e innovadora
                                    p A partir del segundo año, aprenderás con una metodología activa que combina el uso de materiales exclusivos, prácticas en entornos reales y la integración de tecnología educativa, inclusión y diversidad, preparándote para transformar la enseñanza en el Perú.

                                .other2 
                                    h4 Materiales creados por docentes para docentes
                                    p Además de los recursos del MINEDU, te formarás con libros y guías diseñadas por nuestros docentes, adaptadas tanto a contextos urbanos como rurales. 
                                    
                                .other2
                                    h4 Enfoque inclusivo y rural
                                    p Gracias a un entrenamiento especializado en la diversidad y en las necesidades educativas de las zonas más vulnerables del país, serás capaz de atender diversas realidades educativas y responder a los desafíos del sistema escolar en el Perú. 

                                
                                .other2
                                    h4 Acompañamiento y asesoramiento personalizados
                                    p Recibirás la guía y apoyo que necesitas para destacar como futuro profesional de la educación. Nuestro enfoque está en tu crecimiento académico y personal, asegurándonos de que estés listo para liderar en cualquier aula.
                                  
                                
                                .other2
                                    h4 Somos líderes en investigación formativa
                                    p Explora de qué trata la carrera de educación desde una perspectiva innovadora. La investigación será parte fundamental de tu formación, ayudándote a comprender y transformar los procesos de enseñanza y aprendizaje.

                                .other2
                                    h4 Prácticas en escenarios reales
                                    p Desde los primeros ciclos, vivirás la experiencia de enseñar en colegios y entornos educativos reales, desarrollando habilidades prácticas que te prepararán para el futuro.
                                
                                .other2
                                    h4 Intercambios internacionales
                                    p Amplía tu visión del mundo educativo con programas de intercambio en universidades de prestigio. Descubre nuevas metodologías y enriquece tu formación con experiencias globales.
                                
                                .other2
                                    h4 Certificaciones progresivas
                                    p Obtén reconocimientos y certificaciones a lo largo de tu carrera, que avalan tus competencias y te abren oportunidades laborales incluso antes de graduarte.
                                
                                ul.margin3tab
                                    li Certificación en Tutoría y Convivencia Escolar (4.º ciclo)
                                    li Certificación en Educación Virtual (6.º ciclo) 
                                    li Certificación en Proyectos de Emprendimiento (7.º ciclo) 
                                 
                            

                                
                                p Y bien, ahora que ya sabes de qué trata la carrera de Educación,<strong> ¿te atreves a ser parte de quienes transforman el mundo a través de la enseñanza? </strong> En esta nota, hemos revisado en qué consiste, qué se estudia y los beneficios de elegir esta profesión llena de propósito.
                                p Si estás en cuarto o quinto de secundaria y sueñas con marcar la diferencia, te invitamos a explorar más sobre esta carrera y muchas otras en nuestro blog. Aquí encontrarás información completa sobre nuestras carreras en gestión, educación, ingeniería, ciencias y salud. ¡Descubre tu futuro con nosotros!




                                 
                            //- .bloque6LeftLabels 
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                        .bloque6Right
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            .bloque2ProgramRightContainerNewsletter 
                                //- .newsletterWhitespace
                                include includes/newletter/innerLetter.pug
                                //- .newsletterContent
                                //-     .newsletterImage
                                //-         img(src="https://blogs.cayetano.edu.pe/img/tano-newletter.gif", alt="")
                                //-     .newsletterInfo
                                //-         h3 Conéctate con tu 
                                //-             span futuro en Cayetano
                                //-         p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                //-         input(type="text" placeholder="Tu correo electrónico...")
                                //-         .newsletterInfoTerminos
                                //-             input(type="checkbox")
                                //-             h3 He leído y acepto la política de privacidad de Cayetano.
                                //-         button
                                //-             h3 Suscribirme
                                //-             img(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    .bloque4BannerLeft 
                        h3 Inicia la mejor etapa de tu vida
                        h4 en la universidad de la <strong>excelencia</strong>
                    button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=medicina-veterinaria&utm_source=blog&utm_medium=organic&utm_content=banner-2-n24', '_blank')")
                        h5 Conoce más 
                        img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                .bloque2ProgramLeft.bloque2IndividualLeft
                    .bloque2Title
                        h3 También podría interesarte
                    include includes/slider-ind/slider2.pug
        include includes/form/formBlog.pug
        footer
          .footerContainer
            img(src="https://blogs.cayetano.edu.pe/img/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        //- script(src="../../js/script.js" defer)
        script(src="./js/script.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")