doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title ¿Qué es Bioincuba? Incubadora de negocios de Cayetano
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel="stylesheet", href="../../css/app.css")
        //- link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        <meta name="description" content="¿Sabe qué es Bioincuba? Descubre cómo trabaja una incubadora de negocios en la universidad y las 10 ideas de negocio innovadoras." />
        <meta name="keywords" content="bioincuba, bioincuba peru, incubadora de negocios, que es y como trabaja una incubadora de negocios, a quienes va dirigido, para que sirve una incubadora de negocios en la universidad, empresas aliadas​, 10 ideas de negocio innovadoras" />
        link(rel="icon" type="image/x-icon" href="../../favicon.png")
        <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-8KHP9CNB7Z')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-8KHP9CNB7Z');
        script.
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '344981290873569');
            fbq('track', 'PageView');
        noscript.
            img(height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=344981290873569&ev=PageView&noscript=1')
        script.
            !function (w, d, t) {
            w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++
            )ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src=i+"?sdkid="+e+"&lib="+t;e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(n,e)};
            ttq.load('CFRU7RRC77UBIS8PL99G');
            ttq.page();
            }(window, document, 'ttq');
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=AW-10905057716')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'AW-10905057716');
    body
        include includes/menu/menuMobile.pug
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
                img.blog-logo(src="https://blogs.cayetano.edu.pe/img/logo-1.webp", alt="", onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')")
                .bloque1LogosSelect
                    h3.dropdown-btn Blog Cayetano
                    ul.dropdown-menu
                        li: a(href="https://blogs.cayetano.edu.pe/") Pregrado
                        li: a(href="https://blogs.cayetano.edu.pe/404.html") Pge  
                        li: a(href="https://blogs.cayetano.edu.pe/404.html") Especialidades
                include includes/search/searchDesktop.pug
                img.top-icon-mobile(src="https://blogs.cayetano.edu.pe/img/icon-menu2.webp", alt="")
                button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=generico&utm_source=blog&utm_medium=organic&utm_content=botonpostula', '_self')")    
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        .bloque6
            .bloque6Container
                .bloque6Calendar
                    .bloque6CalendarProgress
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')") Blog Cayetano
                        h5 |
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/', '_self')") Blog Pregrado
                    .bloque6CalendarInfo
                        img(src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                        h3 20 de diciembre del 2024
                    .bloque6Title
                        h1 ¿Qué es Bioincuba?: Descubre la incubadora de negocios de Cayetano
                    .bloque6Item
                        h4.bloque6ItemTodos General
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                    .bloque6Flex
                        .bloque6Left
                            img(src="https://blogs.cayetano.edu.pe/img/image-nota-24.webp", alt="Bioincuba - incubadora de negocios", title="Bioincuba Cayetano")
                            .bloque6LeftRedes
                                h3 Compartir en redes:
                                .bloque6LeftRedesContent
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-fb.webp", alt="", onclick="window.open(`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-wp.webp", alt="", onclick="window.open(`https://api.whatsapp.com/send?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-x.webp", alt="", onclick="window.open(`https://x.com/intent/post?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-link.webp", alt="", onclick="window.open(`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(window.location.href)}`, '_self')")
                            .bloque6LeftIndex
                                h3.indexclicker Índice
                                .bloque6LeftIndexContent
                                    ol 
                                        li: a(href="#h-uno"): h2 ¿Qué es y cómo trabaja una incubadora de negocios?
                                        li: a(href="#h-dos"): h2 ¿Qué es Bioincuba?
                                        li: a(href="#h-tres"): h2 ¿A quiénes va dirigido?
                                        li: a(href="#h-cuatro"): h2 ¿Para qué sirve una incubadora de negocios en la universidad?
                                        li: a(href="#h-cinco"): h2 Empresas aliadas de Bioincuba
                                        li: a(href="#h-seis"): h2 10 ideas de negocio innovadoras en Bioincuba
                            .bloque6LeftParagraphs
                                p Todo emprendimiento empieza con una buena idea, pero para convertirla en un negocio se necesita inversión, apoyo y personas que crean en tu proyecto. Una incubadora de negocios en una universidad es el espacio donde te guían, te enseñan y te dan recursos para hacer realidad tu idea. 
                                p Emprender es un reto, pero en Cayetano tenemos lo necesario para impulsar estos proyectos a través de nuestra incubadora, <strong>Bioincuba</strong>. Nuestros estudiantes, antes de llevar su proyecto a la etapa de inversión, pasan por etapas importantes, como la asesoría personalizada y pruebas para validar su producto. Estas primeras etapas son clave para transformar las ideas en proyectos sólidos. Bajo ese contexto, las incubadoras de negocios se convierten en un aliado valioso para los estudiantes, docentes e investigadores.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-uno ¿Qué es y cómo trabaja una incubadora de negocios?
                                p Una incubadora de negocios es una organización que ayuda a los emprendedores a desarrollar sus ideas y convertirlas en negocios. Ofrecen apoyo, recursos y asesoría en las primeras etapas, a través de programas, talleres y eventos que fomentan el espíritu emprendedor.
                                p Estas incubadoras también promueven la colaboración entre universidades y empresas, creando nuevos modelos de desarrollo y apoyando a emprendedores con visión de negocio.
                                p ¿Cómo trabajan? Las incubadoras de negocios ofrecen servicios como:
                                ul.margin1tab
                                    li: h4 Asesoría:
                                        p Te orientan a planear y definir tu proyecto, analizar si es viable, tomar decisiones importantes y conseguir financiamiento. También te apoyan a crear un plan de negocios y entender el mercado.
                                    li: h4 Formación:
                                        p Te ofrecen talleres, programas y eventos para aprender sobre finanzas, estrategias para tu negocio y asesoramiento legal y contable.
                                    li: h4 Recursos:
                                        p Te dan acceso a espacios de trabajo, tecnología y apoyo financiero para que puedas desarrollar tu negocio.
                                    li: h4 Mentores:
                                        p Te conectan con expertos que te guían y te dan consejos para tu emprendimiento de negocio.
                                    li: h4 Validación:
                                        p Te ayudan a probar tu producto o servicio para asegurarte de que funciona bien antes de presentarlo a posibles inversionistas.
                                p Las incubadoras de negocios ayudan a desarrollar ideas innovadoras y a prepararlas antes de lanzarlas al mercado. En Cayetano, promovemos las iniciativas de nuestros estudiantes, egresados, docentes e investigadores a través de Bioincuba, brindándoles asesoría para crear proyectos de innovación con apoyo de fondos estatales.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-dos ¿Qué es Bioincuba?
                                p Bioincuba es la incubadora de negocios de la Universidad Peruana Cayetano Heredia, con más de 9 años ayudando a emprendedores a crear proyectos, startups y spin-offs basados en ciencia, innovación y tecnología.
                                p Ofrece servicios como preincubación, gestión y aceleración de proyectos. Además, apoya la creación de empresas tecnológicas con alto valor, basadas en investigaciones.
                                p Su misión es impactar positivamente a la sociedad, acortando la brecha entre la ciencia y el mercado, mejorando la calidad de vida de las personas y aportando en la sostenibilidad.
                                .mention 
                                    p <strong>"En Bioincuba nos especializamos en impulsar esos emprendimientos y a pesar de que es difícil, ya hay algunos casos de éxito, inclusive algunos de ellos personas que son egresadas de la universidad, que también han pasado por procesos de startups exitosas en EE.UU."</strong>
                                    h4 Gonzalo Aller - Jefe de Bioincuba
                                    h5 Fuente: Programa “Tiempos de innovación en Cayetano”
                                p El objetivo de la incubadora de negocios es apoyar la creación de empresas en 5 áreas principales:
                                ul.margin3tab
                                    li Salud
                                    li Biotecnología
                                    li Agropecuario
                                    li Medio Ambiente
                                    li Alimentos
                                p Hoy en día, nuestra incubadora de negocios tiene varias startups, y los datos lo demuestran:
                                img(src="https://blogs.cayetano.edu.pe/img/nota24-image2-scaled.webp", alt="Startups participantes Bioincuba", title="Bioincuba Perú")
                                .bloque6LeftParagraphsTitle 
                                    h2#h-tres ¿A quiénes va dirigido?
                                p Bioincuba está dirigido a estudiantes, egresados, docentes e investigadores de Cayetano, así como a emprendedores e innovadores que quieran desarrollar proyectos en áreas como la ciencia, la tecnología, la biotecnología y la sostenibilidad. También está abierto a cualquier persona o grupo que busque apoyo para crear empresas tecnológicas basadas en investigaciones y que desee hacer crecer su idea de negocio.
                                p Para la comunidad Cayetano, Bioincuba apoya sus ideas de innovación y emprendimiento con recursos, mentoría y asesorías para desarrollar proyectos con fondos estatales.
                                p Para emprendedores, ofrece preincubación, gestión y aceleración de startups y spin-offs basados en investigación y tecnología.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-cuatro ¿Para qué sirve una incubadora de negocios en la universidad?
                                p Una incubadora de negocios ayuda a estudiantes, docentes e investigadores a convertir sus ideas en negocios reales. Ofrece recursos, mentoría y asesoría en diferentes etapas del desarrollo de un proyecto:
                                .other
                                    ul.margin1tab
                                        li: h3 Preincubación:
                                            p Convierte tu idea de negocio en realidad con asesorías 100% personalizadas con nuestros expertos de negocios e innovación.
                                        p Actividades:
                                    ul.margin6tab
                                        li Validación de ideas
                                        li Identificación de clientes
                                        li Diseño del modelo de negocio
                                        li Preparación para presentar tu idea (Elevator Pitch)
                                        li Prototipado
                                .other
                                    ul.margin1tab
                                        li: h3 Incubación:
                                            p En esta etapa te preparamos en el lanzamiento comercial de tu producto o servicio.
                                        p Actividades:
                                    ul.margin6tab
                                        li Validación técnica y comercial
                                        li Mentorías y capacitaciones
                                        li Registro legal de la empresa
                                        li Presentaciones para inversionistas (Pitch)
                                        li Lanzamiento al mercado
                                .other
                                    ul.margin1tab
                                        li: h3 Pre-aceleración: 
                                            p El objetivo de esta etapa es conectar tu negocio con oportunidades de inversión y expansión internacional.
                                        p Actividades:
                                    ul.margin6tab
                                        li Consultorías y reportes financieros
                                        li Contacto con inversionistas
                                        li Técnicas de negociación
                                        li Networking e internacionalización
                                .bloque6LeftParagraphsTitle 
                                    h2#h-cinco Empresas aliadas de Bioincuba
                                p En Bioincuba creemos que el éxito de los emprendedores se potencia cuando trabajan en colaboración con expertos y líderes de la industria. Por eso, tenemos una red de empresas aliadas que nos ayudan a fomentar la innovación y el emprendimiento. Gracias a estas alianzas, ofrecemos recursos, mentoría y oportunidades para que tus proyectos crezcan.
                                p Algunos de nuestros aliados son:
                                ul.margin3tab
                                    li Centro de Innovación Tecnológica, Empresarial y Social - CITES (Argentina)
                                    li Consejo Nacional de Ciencia, Tecnología e Innovación - Concytec (Perú)
                                    li Hemispheric University Consortium 
                                    li IncubaUdeC - Universidad de Concepción (Chile)
                                    li Parc Científic de la Universitat de València (España)
                                    li Fundación Parque Científico de Madrid (España)
                                    li RedEmprendia
                                    li Banco Santander (Perú)
                                p Todo bajo el respaldado del Programa Nacional de Desarrollo Tecnológico e Innovación - ProInnóvate.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-seis 10 ideas de negocio innovadoras en Bioincuba
                                p Aquí los 10 mejores proyectos de innovación, considerando su impacto, originalidad y enfoque en sostenibilidad:
                                ol.margin1tab
                                    li: h3 MAQ (Protege y conserva lo que comes):
                                        p Consiste en un nanorecubrimiento comestible y antimicrobiano que extiende la vida útil de frutas y verduras en un 250%, el cual ya ha sido probado en laboratorio y a condiciones reales (Mercados y chacras) consiguiendo resultados satisfactorios. Además, ayuda a la conservación del medio ambiente, ya que la principal materia prima son desechos de crustáceos y truchas, desarrollando así economía circular.
                                    li: h3 Leatherlab:
                                        p Es una biorefinería que produce biocueros a partir de residuos agroindustriales (biopolímeros y fibras vegetales en diferentes granulometrías), utilizando biotecnología para desarrollar materiales sostenibles y ecológicos.
                                    li: h3 Titi:
                                        p Es una empresa que desarrolla productos sostenibles para mascotas basándose en el caucho natural silvestre de comunidades nativas, logrando productos no tóxicos, libre de ftalatos, resistentes, ecoamigables. Estos productos contribuyen al desarrollo de comunidades y cuidado de bosques.
                                    li: h3 Muro Eólico:
                                        p Sistema innovador de energía eólica que optimiza la cosecha de viento, lo que hace una alternativa viable para democratizar la generación de energía en hogares, comunidades y empresas.
                                    li: h3 Inspirall:
                                        p La primera startup de biotecnología basada en microalgas para producir alimentos sostenibles y de alto valor nutricional, trabajando con comunidades de la costa y sierra.
                                    li: h3 Sinba: 
                                        p Es una empresa social peruana, que busca transformar los residuos orgánicos en alimentos para animales y abono, promoviendo un modelo de economía circular con impacto social y ambiental.
                                    li: h3 Chuwa Plant:
                                        p Empresa que fabrica platos biodegradables hechos de hojas y cortezas de plátano de la Amazonía peruana, con un tiempo de degradación de solo 60 días.
                                    li: h3 Bionatural Solutions:
                                        p Es una empresa global de biotecnología comprometida en cambiar el mundo, con productos 100% naturales que prolongan la vida útil de frutas, siendo una solución innovadora y sostenible para el sector agroindustrial.
                                    li: h3 Ento Piruw:
                                        p Desarrolla productos basados en biotecnología aplicada a insectos, con aplicaciones en diversas industrias.
                                    li: h3 Le Qara:
                                        p Fusión de biotecnología y moda para crear productos biodegradables, con cuero hecho por cepas de bacterias modificadas.
                                p Estos son algunos de los proyectos que destacan por su enfoque en sostenibilidad, economía circular y tecnología innovadora que responde a problemas globales y locales.
                                p ¡Haz realidad tus ideas! Descubre más de <span onclick="window.open('https://bioincuba.cayetano.pe/', '_self')"><strong>Bioincuba</strong></span> y potencia tus proyectos en nuestras más de <span onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/cayetano-heredia-carreras', '_self')"><strong>20 carreras de excelencia</strong></span>. Recuerda, Cayetano es más que Cayetano.
                            //- .bloque6LeftLabels 
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                        .bloque6Right
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            .bloque2ProgramRightContainerNewsletter 
                                //- .newsletterWhitespace
                                include includes/newletter/innerLetter.pug
                                //- .newsletterContent
                                //-     .newsletterImage
                                //-         img(src="https://blogs.cayetano.edu.pe/img/tano-newletter.gif", alt="")
                                //-     .newsletterInfo
                                //-         h3 Conéctate con tu 
                                //-             span futuro en Cayetano
                                //-         p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                //-         input(type="text" placeholder="Tu correo electrónico...")
                                //-         .newsletterInfoTerminos
                                //-             input(type="checkbox")
                                //-             h3 He leído y acepto la política de privacidad de Cayetano.
                                //-         button
                                //-             h3 Suscribirme
                                //-             img(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    .bloque4BannerLeft 
                        h3 Inicia la mejor etapa de tu vida
                        h4 en la universidad de la <span>excelencia</span>
                    button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=medicina-veterinaria&utm_source=blog&utm_medium=organic&utm_content=banner-2-n24', '_self')")
                        h5 Conoce más 
                        img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                .bloque2ProgramLeft.bloque2IndividualLeft
                    .bloque2Title
                        h3 También podría interesarte
                    include includes/slider-ind/slider2.pug
        include includes/form/formBlog.pug
        footer
          .footerContainer
            img(src="https://blogs.cayetano.edu.pe/img/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        script(src="../../js/script.js" defer)
        //- script(src="./js/script.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")