doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title Excelencia académica
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel="stylesheet", href="../../css/app.css")
        //- link(rel="stylesheet", href="./css/app.css")
        link(rel="icon" type="image/x-icon" href="../../favicon.png")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        <meta name="description" content="">
        <meta name="keywords" content="excelencia academica, que es la excelencia academica, importancia de la excelencia academica, como lograr la excelencia academica, requisitos para la beca por excelencia academica, cuales son los beneficios de la excelencia academica, alumnos que adquirieron beca por excelencia academica, perfil de estudiante con excelencia academica">
        <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-8KHP9CNB7Z')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-8KHP9CNB7Z');
        script.
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '344981290873569');
            fbq('track', 'PageView');
        noscript.
            img(height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=344981290873569&ev=PageView&noscript=1')
        script.
            !function (w, d, t) {
            w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++
            )ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src=i+"?sdkid="+e+"&lib="+t;e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(n,e)};
            ttq.load('CFRU7RRC77UBIS8PL99G');
            ttq.page();
            }(window, document, 'ttq');
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=AW-10905057716')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'AW-10905057716');
    body
        include includes/menu/menuMobile.pug
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
                img.blog-logo(src="https://blogs.cayetano.edu.pe/img/logo-1.webp", alt="", onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')")
                .bloque1LogosSelect
                    h3.dropdown-btn Blog Cayetano
                    ul.dropdown-menu
                        li: a(href="https://blogs.cayetano.edu.pe/pregrado/") Pregrado
                        li: a(href="https://blogs.cayetano.edu.pe/404.html") Pge  
                        li: a(href="https://blogs.cayetano.edu.pe/404.html") Especialidades
                include includes/search/searchDesktop.pug
                img.top-icon-mobile(src="https://blogs.cayetano.edu.pe/img/icon-menu2.webp", alt="")
                button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=generico&utm_source=blog&utm_medium=organic&utm_content=botonpostula', '_self')")    
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        .bloque6
            .bloque6Container
                .bloque6Calendar
                    .bloque6CalendarProgress
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')") Blog Cayetano
                        h5 |
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/', '_self')") Blog Pregrado
                    .bloque6CalendarInfo
                        img(src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                        h3 20 de diciembre del 2024
                    .bloque6Title
                        h1#first Excelencia académica: todo sobre esta modalidad de ingreso
                    .bloque6Item
                        h4.bloque6ItemTodos Genérico
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                    .bloque6Flex
                        .bloque6Left
                            img(src="https://blogs.cayetano.edu.pe/img/image-nota-20.webp", alt="excelencia academica")
                            .bloque6LeftRedes
                                h3 Compartir en redes:
                                .bloque6LeftRedesContent
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-fb.webp", alt="", onclick="window.open(`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-wp.webp", alt="", onclick="window.open(`https://api.whatsapp.com/send?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-x.webp", alt="", onclick="window.open(`https://x.com/intent/post?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-link.webp", alt="", onclick="window.open(`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(window.location.href)}`, '_self')")
                            .bloque6LeftIndex
                                h3.indexclicker Índice
                                .bloque6LeftIndexContent
                                    ol 
                                        li: a(href="#h-uno"): h2 ¿Qué es la excelencia académica? 
                                        li: a(href="#h-dos"): h2 Importancia de la excelencia académica
                                        li: a(href="#h-tres"): h2 ¿Cómo lograr la excelencia académica?
                                        li: a(href="#h-cuatro"): h2 Requisitos para la beca por excelencia académica 
                                        li: a(href="#h-cinco"): h2 ¿Cuáles son los beneficios de la excelencia académica? 
                                        li: a(href="#h-seis"): h2 Alumnos que adquirieron beca por excelencia académica 
                                        li: a(href="#h-siete"): h2 Perfil de estudiante con excelencia académica
                            .bloque6LeftParagraphs
                                p Estás por cerrar una etapa clave de tu vida, la secundaria, y dar el siguiente paso hacia el futuro profesional que sueñas. Durante estos años, muchos estudiantes se esfuerzan al máximo para obtener excelentes calificaciones, ya que esto les abre puertas a las mejores universidades del país. Existen diversas formas de ingresar a instituciones de prestigio con modalidades que facilitan el acceso, y uno de los caminos más importantes es destacar por tu excelencia académica. 
                                .bloque6LeftParagraphsTitle 
                                    h2#h-uno ¿Qué es la excelencia académica?
                                p La <strong>excelencia académica</strong> es una modalidad de ingreso que les da la oportunidad o facilidad de ingresar a la universidad a aquellos estudiantes que han demostrado un desempeño sobresaliente durante su formación secundaria. 
                                p Una forma de reconocer ese esfuerzo, dedicación y compromiso con los estudios es permitirles acceder a programas académicos, de manera que su ingreso sea por esta modalidad alternativa. Este camino está dirigido a jóvenes con un historial académico destacado, lo que les permite acceder a programas de alta calidad, abriendo puertas a nuevas oportunidades educativas y profesionales.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-dos Importancia de la excelencia académica
                                p La excelencia académica es un beneficio clave para los estudiantes con mejor rendimiento en las instituciones educativas. No solo impacta positivamente en el futuro académico de los jóvenes, sino también en su economía familiar, ya que permite acceder a descuentos o beneficios que pueden reducir los costos de matrícula y mensualidades en comparación con las tarifas iniciales establecidas por la universidad.
                                p El crecimiento personal y el autodescubrimiento son partes importantes de esta etapa, pero no todo se trata solo de calificaciones. Las personas encargadas de evaluar tu ingreso a la universidad por esta modalidad, también buscan ver cómo te has adaptado a diferentes tipos de cursos durante la secundaria. Además, los estudiantes que atraviesan este proceso suelen desarrollar un factor clave: la confianza en sí mismos, ya que exploran sus intereses y descubren lo que realmente les apasiona.  
                                p Lograrlo requiere esfuerzo, disciplina, buena gestión del tiempo y habilidades para resolver problemas. Todo esto te prepara para enfrentar los retos y avanzar hacia tus metas.  
                                .bloque6LeftParagraphsTitle 
                                    h2#h-tres ¿Cómo lograr la excelencia académica?
                                p Para lograr la excelencia académica, tanto los padres como los profesores tienen un papel fundamental. Su presencia y apoyo constante ayudan a que el estudiante desarrolle confianza en sí mismo, lo que le permite explorar sus habilidades, establecer metas claras y aprovechar al máximo las oportunidades que se le presentan. Este equilibrio entre el acompañamiento y el crecimiento personal es clave para que el alumno desarrolle diversas competencias esenciales.
                                p Sin embargo, es el estudiante quien debe aprovechar estos recursos para fomentar su autonomía, mantener una actitud proactiva frente a los desafíos y aprender a gestionar su tiempo y emociones de manera efectiva. Solo a través de la combinación de esfuerzo personal y un entorno de apoyo sólido, podrá alcanzar su máximo potencial y enfrentar con éxito los retos del futuro académico y profesional. Además, podrás explorar opciones entre <span onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/carreras-mejor-pagadas/', '_self')"><strong>las carreras mejor pagadas</strong></span>, descubrir cuáles son y tomar decisiones informadas para construir tu futuro.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-cuatro Requisitos para pertenecer al grupo de excelencia académica 
                                p La modalidad de excelencia académica es una gran oportunidad para los estudiantes que buscan acceder a las mejores universidades, ya que brinda múltiples beneficios. Esta modalidad motiva a los alumnos a esforzarse por obtener un buen rendimiento académico, pero es importante tener en cuenta que existen ciertos requisitos que deben cumplirse para acceder a ella. En Perú, las universidades siempre están buscando los mejores talentos para ofrecerles nuevas oportunidades y reconocer su esfuerzo. Descubre lo que necesitas alcanzar este beneficio: 
                                ul.margin1tab
                                    li: h3 Promedio académico destacado: 
                                        p Para formar parte del grupo de excelencia académica, es fundamental mantener un promedio general superior al establecido por la institución, como 16 a 20, y obtener calificaciones sobresalientes en todas las materias sin ningún curso desaprobado.
                                    li: h3 Buen comportamiento:
                                        p Es importante demostrar un alto nivel de respeto, responsabilidad y cumplimiento de las normas de convivencia escolar, siendo además un modelo de valores para otros estudiantes.
                                    li: h3 Constancia y Esfuerzo: 
                                        p Ambos son fundamentales, ya que implican evidenciar un progreso constante en el rendimiento académico y mantener un historial escolar destacado.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-cinco Alumnos que ingresaron por excelencia académica
                                p La modalidad de ingreso por excelencia académica ha dado grandes oportunidades a estudiantes que no solo les sirvieron al inicio de su carrera universitaria, sino que también les han permitido desarrollar su potencial y abrir nuevas puertas a lo largo de su formación.
                                .mention
                                    p <strong>"Ingresar a Cayetano por la modalidad de excelencia académica fue un logro muy significativo para mí, ya que sentí que el esfuerzo de todos esos años valió la pena. Estudiar en Cayetano fue una experiencia increíblemente transformadora. No solo adquirí conocimientos fundamentales en Biología, sino que también crecí como persona. Los retos académicos me enseñaron a perseverar y a ver la vida desde una perspectiva más amplia. Sin duda, fue una etapa que me marcó profundamente, tanto en lo académico como en lo personal”</strong>, comentó Adriana, egresada de la carrera de Biología en Cayetano Heredia. 
                                p Este tipo de experiencias refuerza el valor de la excelencia académica, no sólo como un reconocimiento al esfuerzo previo, sino como un motor que impulsa a los estudiantes a alcanzar su máximo potencial. La modalidad de excelencia académica no solo abre las puertas a nuevas oportunidades, sino que también prepara a los jóvenes para enfrentar los desafíos del futuro. Además de otras formas de ingreso, como el <span onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/que-es-tercio-superior/', '_self')"><strong>tercio superior</strong></span>, esta modalidad te permite acceder automáticamente a este beneficio y avanzar hacia una educación de calidad.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-seis Hábitos de estudiantes con excelencia académica
                                p Como mencionamos anteriormente, si bien las notas son importantes para determinar si perteneces al grupo de excelencia académica, también es esencial desarrollar otras habilidades interpersonales que te permitirán afrontar diversos desafíos, comunicarte de manera efectiva con los demás y colaborar en equipo. Estas habilidades son clave tanto en el ámbito académico como en el futuro profesional. Sigue estos consejos para potenciar tu desarrollo personal y mejorar tus relaciones interpersonales:
                                img(src="https://blogs.cayetano.edu.pe/img/nota20-image1.webp", alt="Hábitos de alumnos que pertenecen a la excelencia académica", title="Rutina de estudiantes que pertenecen a la excelencia académica", class="images_mobile")
                                img(src="https://blogs.cayetano.edu.pe/img/nota20-image2.webp", alt="Hábitos de alumnos que pertenecen a la excelencia académica", title="Rutina de estudiantes que pertenecen a la excelencia académica", class="images_desktop")
                                p Cultivar estos hábitos no solo mejora el rendimiento académico, sino que también prepara para enfrentar desafíos con disciplina y resiliencia.
                        .bloque6Right
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            .bloque2ProgramRightContainerNewsletter 
                                include includes/newletter/innerLetter.pug
                                //- .newsletterWhitespace
                                //- .newsletterContent
                                //-     .newsletterImage
                                //-         img(src="https://blogs.cayetano.edu.pe/img/tano-newletter.gif", alt="")
                                //-     .newsletterInfo
                                //-         h3 Conéctate con tu 
                                //-             span futuro en Cayetano
                                //-         p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                //-         input(type="text" placeholder="Tu correo electrónico...")
                                //-         .newsletterInfoTerminos
                                //-             input(type="checkbox")
                                //-             h3 He leído y acepto la política de privacidad de Cayetano.
                                //-         button
                                //-             h3 Suscribirme
                                //-             img(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    .bloque4BannerLeft
                        h3 Inicia la mejor etapa de tu vida
                        h4 en la universidad de la <span>excelencia</span>
                    button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=medicina-veterinaria&utm_source=blog&utm_medium=organic&utm_content=banner-2-n20', '_self')")
                        h5 Conoce más 
                        img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                .bloque2ProgramLeft.bloque2IndividualLeft
                    .bloque2Title
                        h3 También podría interesarte
                    include includes/slider-ind/slider2.pug
        include includes/form/formBlog.pug
        footer
          .footerContainer
            img(src="https://blogs.cayetano.edu.pe/img/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        script(src="../../js/script.js" defer)
        //- script(src="./js/script.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")