doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title ¿Qué cursos se lleva en ingeniería ambiental?
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel="stylesheet", href="../../css/app.css")
        //- link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        <meta name="description" content="Descubre los cursos de Ingeniería Ambiental, cuánto gana un profesional en Perú y por qué esta carrera es ideal para ti." />
        <meta name="keywords" content=" que cursos se lleva en, que estudia la ingenieria ambiental,cuanto se gana en ingenieria ambiental​, porque estudiar ingenieria ambiental​ " />
        link(rel="icon" type="image/x-icon" href="../../favicon.png")
        <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-8KHP9CNB7Z')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-8KHP9CNB7Z');
        script.
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '344981290873569');
            fbq('track', 'PageView');
        noscript.
            img(height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=344981290873569&ev=PageView&noscript=1')
        script.
            !function (w, d, t) {
            w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++
            )ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src=i+"?sdkid="+e+"&lib="+t;e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(n,e)};
            ttq.load('CFRU7RRC77UBIS8PL99G');
            ttq.page();
            }(window, document, 'ttq');
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=AW-10905057716')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'AW-10905057716');
    body
        include includes/menu/menuMobile.pug
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
                img.blog-logo(src="https://blogs.cayetano.edu.pe/img/logo-1.webp", alt="", onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')")
                .bloque1LogosSelect
                    h3.dropdown-btn Blog Cayetano
                    ul.dropdown-menu
                        li: a(href="https://blogs.cayetano.edu.pe/") Pregrado
                        li: a(href="https://blogs.cayetano.edu.pe/404.html") Pge  
                        li: a(href="https://blogs.cayetano.edu.pe/404.html") Especialidades
                include includes/search/searchDesktop.pug
                img.top-icon-mobile(src="https://blogs.cayetano.edu.pe/img/icon-menu2.webp", alt="")
                button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=generico&utm_source=blog&utm_medium=organic&utm_content=botonpostula', '_self')")    
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        .bloque6
            .bloque6Container
                .bloque6Calendar
                    .bloque6CalendarProgress
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')") Blog Cayetano
                        h5 |
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/', '_self')") Blog Pregrado
                    .bloque6CalendarInfo
                        img(src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                        h3 11 de marzo del 2025
                    .bloque6Title
                        h1 ¿Qué cursos se lleva en ingeniería ambiental? Descubre qué estudia y por qué elegirla
                    .bloque6Item
                        h4.bloque6ItemIngenieria Ingeniería Ambiental
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                    .bloque6Flex
                        .bloque6Left
                            img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/Nota-31.webp", alt="Malla curricular de la ingeniería ambiental", title="Cursos de la carrera de ingeniería ambiental")
                            .bloque6LeftRedes
                                h3 Compartir en redes:
                                .bloque6LeftRedesContent
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-fb.webp", alt="", onclick="window.open(`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-wp.webp", alt="", onclick="window.open(`https://api.whatsapp.com/send?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-x.webp", alt="", onclick="window.open(`https://x.com/intent/post?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-link.webp", alt="", onclick="window.open(`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(window.location.href)}`, '_self')")
                            .bloque6LeftIndex
                                h3.indexclicker Índice
                                .bloque6LeftIndexContent
                                    ol 
                                        li: a(href="#h-uno"): h2 ¿Qué estudia la ingeniería ambiental?
                                        li: a(href="#h-dos"): h2 ¿Cuánto se gana en ingeniería ambiental?
                                        li: a(href="#h-tres"): h2 ¿Por qué estudiar ingeniería ambiental?
                                        
                            .bloque6LeftParagraphs
                                p El interés por reducir la contaminación y mitigar los efectos del cambio climático ha revalorizado la labor del ingeniero ambiental, cuya profesión resulta imprescindible para el futuro de la sociedad.
                                p La ingeniería ambiental es una de las carreras más atractivas, ya que <strong> combina ciencia, tecnología y gestión para enfrentar los desafíos ambientales y promover el desarrollo sostenible.</strong> 
                                p Entre los cursos que estudiarás se encuentran áreas fundamentales como biología, química, física y matemáticas, junto con asignaturas especializadas como tratamiento de aguas, biotecnología aplicada al medio ambiente, energías renovables, gestión ambiental, remediación de áreas contaminadas y SSOMA. 
                                p Estos conocimientos te prepararán para<strong>  abordar problemas globales y ser parte de soluciones innovadoras </strong>  en un campo en constante transformación.
                                p ¿Te gustaría saber más sobre qué cursos se lleva en ingeniería ambiental, cuál es el salario promedio y por qué esta carrera podría ser ideal para ti? Sigue leyendo y descúbrelo.


                                .bloque6LeftParagraphsTitle 
                                    h2#h-uno ¿Qué estudia la ingeniería ambiental?
                                p Esta carrera se enfoca en estudiar el impacto de las actividades humanas sobre la naturaleza y desarrollar estrategias sostenibles para proteger los recursos naturales, <strong>garantizando el bienestar de las personas y el planeta</strong> . Su formación académica es multidisciplinaria, combinando ciencia, tecnología y gestión para prevenir y solucionar problemas ambientales.
                                p En Cayetano, los estudiantes llevan una malla curricular estructurada en distintas áreas, como:
                           
                               
                                .other
                                    ul.margin1tab
                                        h3 Ciencias Básicas 
                                        p Estos cursos proporcionan los fundamentos científicos necesarios para comprender los procesos ambientales:
                                        //- p Actividades:
                                    ul.margin6tab
                                        li Matemáticas (Cálculo, Álgebra, Estadística).
                                        li Física
                                        li Química General, Orgánica y Analítica.
                                        li Biología
                                        li Geología y Edafología
                                .other
                                    ul.margin1tab
                                        h3 Ciencias Ambientales 
                                        p En esta área, se profundiza en el estudio de los problemas ambientales y la forma de prevenirlos o solucionarlos:
                                        //- p Actividades:
                                    ul.margin6tab
                                        li Ecología y Biodiversidad
                                        li Contaminación Ambiental
                                        li Gestión de Residuos Sólidos y Peligrosos
                                        li Evaluación de Impacto Ambiental

                                .other
                                    ul.margin1tab
                                        h3 Ingeniería y Tecnología Ambiental
                                        p Estos cursos enseñan a diseñar y aplicar soluciones a problemas ambientales:
                                        //- p Actividades:
                                    ul.margin6tab
                                        li Hidrología
                                        li Tratamiento de Aguas Residuales
                                        li Energías Renovables y Eficiencia Energética
                                        li Tecnologías aplicadas al Medio Ambiente

                                .other
                                    ul.margin1tab
                                        h3 Gestión y Legislación Ambiental
                                        p Formación en aspectos normativos y de administración relacionados con el medio ambiente:
                                        //- p Actividades:
                                    ul.margin6tab
                                        li Derecho y Fiscalización Ambiental
                                        li Economía General
                                        li Monitoreo Ambiental

                                
                                .other
                                    ul.margin1tab
                                        h3 Cursos Especializados
                                        p Nuestra metodología te ofrece cursos más específicos, como:
                                        
                                    ul.margin6tab
                                        li Biotecnología aplicada al medioambiente
                                        li Cambio climático y energías renovables
                                        li Tratamiento de agua
                                        li Remediación de áreas contaminadas
                                        li Gestión ambiental
                                        li Seguridad, salud ocupacional y medio ambiente

                                .other
                                    ul.margin1tab
                                        p Estas especializaciones te prepararán para enfrentar problemas ambientales específicos con soluciones innovadoras. Si quieres saber más sobre cada área, revisa nuestra nota sobre <strong>¿En qué consiste la carrera de Ingeniería Ambiental? </strong>, donde exploramos el rol del ingeniero ambiental y su impacto en la sociedad.

                                
                                .other
                                    ul.margin1tab
                                        h3 Innovación y Emprendimiento
                                        p En la Universidad Peruana Cayetano Heredia fomentamos el desarrollo de proyectos innovadores y el espíritu emprendedor a través de:
                                    ul.margin6tab
                                        li Procesos de Innovación en Ingeniería
                                        li Emprendimiento Ambiental (Apoyo de Bioincuba)
                                .other
                                    ul.margin1tab
                                        p Esta estructura curricular forma profesionales con una sólida base científica y una perspectiva innovadora, listos para enfrentar los desafíos ambientales actuales. ¿Quieres conocer más cursos de esta carrera? Explora nuestra <span onclick="window.open('https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/MC_ING%20AMBIENTAL%20%281%29.pdf', '_self')"><strong>malla curricular </strong></span> y descubre cómo la ingeniería ambiental puede ser tu camino.
                                

                                .bloque6LeftParagraphsTitle 
                                    h2#h-dos ¿Cuánto se gana en ingeniería ambiental? 
                                p Seguro te has preguntado ¿cuál es el sueldo de un ingeniero ambiental?, debes saber que, como en cualquier profesión, este varía según la experiencia, la especialización y el tipo de proyectos en los que trabaje, ya sea en el sector público o privado.
                                p Según el portal Mi Carrera del Ministerio de Trabajo y Promoción del Empleo (2024), el salario promedio de un ingeniero ambiental entre 18 a 29 años es de <strong>S/ 3,162 mensuales, con un rango que va desde S/ 1,500 hasta S/ 5,114 </strong>. Sin embargo, aquellos con más experiencia o que trabajen en sectores estratégicos <strong>pueden superar los S/ 10,000 al mes.</strong>
                                p La demanda de ingenieros ambientales en Perú sigue en ascenso y se espera que continúe creciendo en los próximos años. Además, iniciativas nacionales e internacionales, como los <strong>Objetivos de Desarrollo Sostenible (ODS) </strong>, refuerzan la importancia de la ingeniería ambiental en sectores clave como la minería sostenible, la agricultura ecológica y la energía renovable. 
                                p Con este panorama, esta carrera no solo ofrece estabilidad laboral, sino también la oportunidad de contribuir activamente al desarrollo sostenible del país. 
                              
                                .bloque4Banner.bloque4Banner2
                                    .banner2Image
                                        img(src="https://blogs.cayetano.edu.pe/img/banner-image1.webp", alt="")
                                    .banner2Container
                                        .bloque4BannerLeft
                                            h3 ¿Buscas una educación de calidad?
                                            h4 Estudia en la <span>universidad <br> N.° 1 del Perú</span>
                                        button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=brand&utm_source=blog&utm_medium=organic&utm_content=banner-1-n2', '_self')")
                                            h5 Postula aquí
                                            img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                                
                                .bloque6LeftParagraphsTitle 
                                    h2#h-tres ¿Por qué estudiar ingeniería ambiental?
                                p Estudiar ingeniería ambiental implica un interés por la conservación del medio ambiente, pensamiento crítico y una visión global para abordar desafíos ecológicos. Sabemos que elegir una carrera es una decisión importante, por eso aquí te damos<strong> 8 razones para estudiar Ingeniería Ambiental en Cayetano:</strong>
                                
                                .other
                                    ol.margin10tab
                                        li: h3 Salidas de campo e intervenciones 
                                        p Desde el 1.er ciclo, los estudiantes participan de salidas de campo al <strong>Centro de Innovación y Emprendimiento en Santa María del Mar </strong>, donde aplican sus conocimientos para resolver problemas ambientales.
                                
                                .other
                                    ol.margin10tab(start="2")
                                        li: h3 Laboratorios de última generación
                                        p Contamos con <strong>Laboratorios de Investigación y Desarrollo (LID) </strong>de clase mundial para tus investigaciones. Además, recibirás una sólida formación en ciencias e investigación, enfocada en la resolución de problemas ambientales. 
                                
                                .other
                                    ol.margin10tab(start="3")
                                        li: h3 Aprendizaje por concentraciones
                                        p Además de recibir una formación teórica-práctica, nuestra metodología te permite especializarte en seis áreas clave:


                                    ul.margin6tab
                                        li Biotecnología aplicada al medioambiente
                                        li Cambio climático y energías renovables
                                        li Tratamiento de agua
                                        li Remediación de áreas contaminadas
                                        li Gestión ambiental
                                        li Salud ambiental

                                .other
                                    ol.margin10tab(start="4")
                                        li: h3 Formación interdisciplinaria
                                        p Nuestros cursos te brindan la oportunidad de colaborar en diversas iniciativas con estudiantes de Biología, Química, Ingeniería Informática, Ingeniería Biomédica e Ingeniería Industrial, ampliando tu visión y potenciando tu capacidad para resolver problemas desde diferentes enfoques.

                                .other
                                    ol.margin10tab(start="5")
                                        li: h3 Incubadora de startup
                                        p Es un espacio ideal para desarrollar ideas innovadoras en biotecnología y sostenibilidad ambiental, transformando propuestas en soluciones reales con el apoyo de <strong>BIOINCUBA </strong>. Aquí podrás convertirte en un agente de cambio y generar impacto en diversos sectores.
                                        p Un ejemplo de éxito es PAQTA, una startup que busca mejorar la producción agrícola peruana. La idea surgió de<strong> María Belén Balta, Alen Zimic y Rosa Barrera </strong>, tres estudiantes de los últimos ciclos, quienes combinaron sus conocimientos en <strong>Ingeniería Ambiental y Biología</strong> para mejorar los suelos peruanos.
                                        p Gracias a su trabajo,<strong> María Belén y Alen </strong>fueron speakers en <strong>TEDxLima 2024 </strong>, donde expusieron sobre la composición de los suelos para optimizar la productividad de las plantas, logrando un impacto positivo en la agricultura peruana y con proyección global.

                                .other
                                    ol.margin10tab(start="6")
                                        li: h3 Sólida base en investigación científica:
                                        p Dentro de los cursos que se llevan en ingeniería ambiental, tendrás la oportunidad de participar en proyectos científicos y aprender directamente de investigadores de renombre.

                                .other
                                    ol.margin10tab(start="7")
                                        li: h3 Responsabilidad social y ambiental:
                                        p Podrás unirte a grupos de estudiantes voluntarios comprometidos con el cuidado del medio ambiente y el desarrollo sostenible e inclusivo, como <strong>Red Universitaria Ambiental (RUA) Perú y Voluntariado Ambiental Herediano Unidos por el Planeta (VAHUP).</strong>

                                .other
                                    ol.margin10tab(start="7")
                                        li: h3 Grado académico de bachiller en Ciencias:
                                        p Otorgamos el grado académico de <strong>bachiller en Ciencias con mención en Ingeniería Ambiental</strong>, brindándote una visión científica y práctica del medio ambiente.
                                         
                                .bloque6LeftParagraphsTitle 
                                   
                                p Si te apasiona la conservación del medio ambiente y buscas una carrera con gran proyección, estudia en la <strong>universidad N.° 1 en sostenibilidad, según UI GreenMetric 2024</strong>. Además, gracias a nuestros convenios y alianzas, podrás acceder a oportunidades para estudiar y realizar prácticas en universidades de Latinoamérica y Europa.
                                p Ahora que conoces los cursos que se llevan en ingeniería ambiental y has tomado tu decisión, te compartimos las <strong>4 etapas clave para completar tu matrícula </strong>y dar el primer paso hacia tu carrera de excelencia. Para más información o consultas sobre el proceso, <span onclick="window.open('https://api.whatsapp.com/send?phone=51941526685&text=%C2%A1Hola!%20%F0%9F%91%8B%20Vengo%20del%20blog%20Cayetano.%20%C2%BFPuedes%20darme%20informaci%C3%B3n%20sobre%20el%20proceso%20de%20matr%C3%ADcula%3F%20%F0%9F%93%84', '_self')"><strong>  no dudes en contactarnos </strong></span>.





                            //- .bloque6LeftLabels 
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                        .bloque6Right
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            .bloque2ProgramRightContainerNewsletter 
                                //- .newsletterWhitespace
                                include includes/newletter/innerLetter.pug
                                //- .newsletterContent
                                //-     .newsletterImage
                                //-         img(src="https://blogs.cayetano.edu.pe/img/tano-newletter.gif", alt="")
                                //-     .newsletterInfo
                                //-         h3 Conéctate con tu 
                                //-             span futuro en Cayetano
                                //-         p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                //-         input(type="text" placeholder="Tu correo electrónico...")
                                //-         .newsletterInfoTerminos
                                //-             input(type="checkbox")
                                //-             h3 He leído y acepto la política de privacidad de Cayetano.
                                //-         button
                                //-             h3 Suscribirme
                                //-             img(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    .bloque4BannerLeft 
                        h3 Inicia la mejor etapa de tu vida
                        h4 en la universidad de la <span>excelencia</span>
                    button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=medicina-veterinaria&utm_source=blog&utm_medium=organic&utm_content=banner-2-n24', '_self')")
                        h5 Conoce más 
                        img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                .bloque2ProgramLeft.bloque2IndividualLeft
                    .bloque2Title
                        h3 También podría interesarte
                    include includes/slider-ind/slider2.pug
        include includes/form/formBlog.pug
        footer
          .footerContainer
            img(src="https://blogs.cayetano.edu.pe/img/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        script(src="../../js/script.js" defer)
        //- script(src="./js/script.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")