doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title Laboratorio Clínico y Anatomía Patológica: ¿En qué consiste?
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel="stylesheet", href="../../css/app.css")
        //- link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        <meta name="description" content="Conoce la importancia de la carrera de Tecnología Médica en Laboratorio Clínico y Anatomía Patológica y cuál es la mejor universidad para estudiarla." />
        <meta name="keywords" content="laboratorio clinico y anatomia patologica, laboratorio clinico y anatomia patologica en que consiste, que es laboratorio clinico y anatomia patologica, laboratorio clinico y anatomia patologica importancia, areas de laboratorio clinico y anatomia patologica, cuales son las funciones de un laboratorio clinico, malla curricular de laboratorio clinico, perfil profesional de tecnologo medico laboratorio clinico​, porque estudiar, laboratorio clinico, donde estudiar laboratorio clinico en lima" />
        link(rel="icon" type="image/x-icon" href="../../favicon.png")
        <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-8KHP9CNB7Z')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-8KHP9CNB7Z');
        script.
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '344981290873569');
            fbq('track', 'PageView');
        noscript.
            img(height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=344981290873569&ev=PageView&noscript=1')
        script.
            !function (w, d, t) {
            w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++
            )ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src=i+"?sdkid="+e+"&lib="+t;e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(n,e)};
            ttq.load('CFRU7RRC77UBIS8PL99G');
            ttq.page();
            }(window, document, 'ttq');
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=AW-10905057716')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'AW-10905057716');
    body
        include includes/menu/menuMobile.pug
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
                img.blog-logo(src="https://blogs.cayetano.edu.pe/img/logo-1.webp", alt="", onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')")
                .bloque1LogosSelect
                    h3.dropdown-btn Blog Cayetano
                    ul.dropdown-menu
                        li: a(href="https://blogs.cayetano.edu.pe/") Pregrado
                        li: a(href="https://blogs.cayetano.edu.pe/404.html") Pge  
                        li: a(href="https://blogs.cayetano.edu.pe/404.html") Especialidades
                include includes/search/searchDesktop.pug
                img.top-icon-mobile(src="https://blogs.cayetano.edu.pe/img/icon-menu2.webp", alt="")
                button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=generico&utm_source=blog&utm_medium=organic&utm_content=botonpostula', '_self')")    
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        .bloque6
            .bloque6Container
                .bloque6Calendar
                    .bloque6CalendarProgress
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')") Blog Cayetano
                        h5 |
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/', '_self')") Blog Pregrado
                    .bloque6CalendarInfo
                        img(src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                        h3 10 de marzo del 2025
                    .bloque6Title
                        h1 Laboratorio Clínico y Anatomía Patológica: ¿En qué consiste y en qué universidad estudiarla?
                    .bloque6Item
                        h4.bloque6ItemSalud Laboratorio Clínico y Anatomía Patológica
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                    .bloque6Flex
                        .bloque6Left
                            img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/Nota-29.webp", alt="Descubre dónde estudiar laboratorio clínico", title="Tecnología médica en Laboratorio Clínico y Anatomía Patológica")
                            .bloque6LeftRedes
                                h3 Compartir en redes:
                                .bloque6LeftRedesContent
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-fb.webp", alt="", onclick="window.open(`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-wp.webp", alt="", onclick="window.open(`https://api.whatsapp.com/send?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-x.webp", alt="", onclick="window.open(`https://x.com/intent/post?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-link.webp", alt="", onclick="window.open(`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(window.location.href)}`, '_self')")
                            .bloque6LeftIndex
                                h3.indexclicker Índice
                                .bloque6LeftIndexContent
                                    ol 
                                        li: a(href="#h-uno"): h2 ¿Qué es laboratorio clínico y anatomía patológica?
                                        li: a(href="#h-dos"): h2 Importancia de laboratorio clínico y anatomía patológica 
                                        li: a(href="#h-tres"): h2 Áreas de laboratorio clínico y anatomía patológica
                                        li: a(href="#h-cuatro"): h2 Funciones de un Tecnólogo Médico en Laboratorio Clínico 
                                        li: a(href="#h-cinco"): h2 Malla curricular de laboratorio clínico y anatomía patológica
                                        li: a(href="#h-seis"): h2 Perfil profesional de un Tecnólogo Médico en Laboratorio Clínico                                       
                                        li: a(href="#h-siete"): h2 ¿Dónde estudiar laboratorio clínico? 
                                         
                            .bloque6LeftParagraphs
                                p ¿Te interesa el análisis de muestras biológicas, la investigación científica y trabajar con tecnología de laboratorio? ¡Entonces, Laboratorio Clínico y Anatomía Patológica es para ti!
                                p Esta profesión <strong>ha crecido significativamente debido a la demanda de atención médica</strong>, el aumento de enfermedades crónicas y la importancia de la prevención sanitaria. Como tecnólogo médico en laboratorio clínico,<strong> tu trabajo será clave para prevenir y diagnosticar enfermedades</strong>, monitorear la efectividad de tratamientos y modificarlos de manera segura cuando sea necesario.
                                p En este artículo, descubrirás todo sobre la carrera de tecnología médica en laboratorio clínico y anatomía patológica: qué es, su importancia y dónde puedes estudiarla. ¿Listo para empezar?
                               
                                .bloque6LeftParagraphsTitle 
                                    h2#h-uno ¿Qué es laboratorio clínico y anatomía patológica?
                                p Laboratorio Clínico y Anatomía Patológica es una rama de la ciencia de la salud que analiza muestras biológicas y estudia tejidos humanos para apoyar el diagnóstico, la prevención y el tratamiento de enfermedades. Este campo <strong>combina tecnología avanzada y conocimientos científicos para obtener información crítica</strong> sobre el estado de salud de los pacientes.
                                p Dado que el panorama sanitario evoluciona constantemente, la carrera de Tecnología Médica en Laboratorio Clínico y Anatomía Patológica se ha convertido<strong> en una disciplina fundamental de la medicina moderna</strong>. Los tecnólogos médicos desempeñan un papel clave al proporcionar datos precisos que ayudan a los profesionales de la salud a tomar decisiones idóneas y efectivas.
                                p Esta profesión interdisciplinaria permite especializarse en áreas como hematología, inmunología, química clínica, entre otras; brindando información esencial para la recuperación de los pacientes.
                                p ¿Te interesa? A continuación, exploraremos su importancia, áreas de especialización, principales funciones, malla curricular y perfil del egresado, además de dónde estudiar esta carrera profesional de la salud.

                                .bloque6LeftParagraphsTitle 
                                    h2#h-dos Importancia de laboratorio clínico y anatomía patológica
                                p Esta profesión es un pilar fundamental en el seguimiento de la salud colectiva; su creciente demanda ante el aumento de enfermedades crónica, la necesidad de atención sanitaria preventiva y los avances de la tecnología médica; ha incitado que cada vez más personas reconozcan la importancia de los profesionales en laboratorio clínico y anatomía patológica. 
                                p En 2015, el número de profesionales colegiados en Tecnología Médica en Perú superaba los 10 mil, según el Ministerio de Salud. Estos especialistas se distribuyen en seis áreas clave, incluyendo <strong>Laboratorio Clínico y Anatomía Patológica, Terapia Física y Rehabilitación, Radiología Ocupacional, Terapia de Lenguaje y Optometría. </strong>
                                p Estudiar esta carrera no solo te abre puertas a un campo de constante evolución, sino que también te permite contribuir directamente al bienestar de las personas y al avance de la medicina. Su relevancia radica en los siguientes aspectos:
                                ul.margin1tab
                                    li <strong>Diagnóstico preciso: </strong> a través del análisis de muestras biológicas (sangre, orina, tejidos, células, etc.), permite identificar enfermedades, como infecciones, trastornos metabólicos y cáncer, de manera temprana y confiable.
                                    li <strong>Prevención de enfermedades: </strong> contribuye a la detección de factores de riesgo y condiciones sub clínicas, ayudando a implementar medidas preventivas antes de que se desarrollen enfermedades graves.
                                    li <strong>Seguimiento de tratamientos:</strong>  proporciona datos clave para monitorear la efectividad de los tratamientos médicos y realizar modificaciones adecuadas que garanticen mejores resultados en los pacientes.
                                    li <strong>Apoyo a la investigación:</strong>es una disciplina clave en el desarrollo de nuevos tratamientos, medicamentos y tecnologías médicas, impulsando avances en la ciencia de la salud.
                                    li <strong>Trabajo en equipo multidisciplinario: </strong>colaboración con especialistas, como cirujanos, oncólogos, radiólogos, genetistas y otros profesionales de la salud.
                                    li <strong>Mejora de la calidad de vida:</strong> al facilitar diagnósticos y tratamientos más precisos, ayuda a reducir complicaciones, mejorar pronósticos y promover la recuperación del paciente.
                                
                                //- .bloque6LeftParagraphsTitle 
                                    
                                p Ahora que ya sabes que la carrera de laboratorio clínico y anatomía patológica es primordial en el área médica, ya que proporciona diagnósticos precisos, orienta tratamientos e impulsa la investigación científica y la innovación terapéutica. Esto la convierte en una disciplina esencial en la práctica clínica. 

                                
                                .bloque6LeftParagraphsTitle 
                                    h2#h-tres Áreas de laboratorio clínico y anatomía patológica
                                p Los tecnólogos médicos en esta profesión abarcan diversas áreas especializadas que le permiten abordar diferentes aspectos del diagnóstico, prevención y seguimiento de enfermedades. Dentro de estas áreas están: 
                                
                                ul.margin1tab
                                    li Bioquímica
                                    li Bioquímica especial y Endocrinología
                                    li Toxicología
                                    li Banco de Sangre y Hemoterapia
                                    li Hematología
                                    li Hemostasia
                                    li Microbiología. (Clínica, ambiental, de alimentos)
                                    li Parasitología
                                    li Inmunología y Serología
                                    li Procesamiento de piezas anatómicas
                                    li Histología, Histoquímica e Inmunohistoquímica
                                    li Citología exfoliativa
                                    li Citogenética humana
                                    li Banco de órganos e histocompatibilidad.
                                    li Criobiología
                                p Cada una de estas áreas desempeña un factor importante en la medicina moderna, asegurando diagnósticos oportunos, tratamientos adecuados y la mejora continua de la atención sanitaria. Además, su constante evolución ofrece oportunidades de especialización y desarrollo profesional.

                                .bloque4Banner.bloque4Banner2
                                    .banner2Image
                                        img(src="https://blogs.cayetano.edu.pe/img/banner-image1.webp", alt="")
                                    .banner2Container
                                        .bloque4BannerLeft
                                            h3 ¿Buscas una educación de calidad?
                                            h4 Estudia en la <strong>universidad <br> N.° 1 del Perú</strong>
                                        button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=brand&utm_source=blog&utm_medium=organic&utm_content=banner-1-n2', '_blank')")
                                            h5 Postula aquí
                                            img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                                
                                .bloque6LeftParagraphsTitle 
                                    h2#h-cuatro Funciones de un Tecnólogo Médico en Laboratorio Clínico
                                p El profesional en laboratorio clínico desempeña un rol clave en el sistema de salud, ya que su labor asegura diagnósticos precisos y contribuye al seguimiento efectivo de los pacientes. Entre sus principales funciones se encuentran:

                                .other
                                    ul.margin1tab
                                        h3 Prevención y promoción
                                    
                                    ul.margin6tab
                                        li Organizar y realizar campañas para prevenir enfermedades.
                                        li Brindar charlas a los pacientes cuando acuden a los centros de salud.
                                        li Realizar vigilancia epidemiológica.

                                    ul.margin1tab
                                        h3 Evaluación inicial
                                    
                                    ul.margin6tab
                                        li Seleccionar donantes y evaluar la compatibilidad de muestras.
                                        li Preparar y supervisar la calidad de las muestras para exámenes.
                                    
                                    ul.margin1tab
                                        h3 Planificación y programación
                                    
                                    ul.margin6tab
                                        li Organizar la toma de muestras y preparar materiales.
                                        li Diseñar protocolos y aplicar normas de bioseguridad.
                                        li Implementar programas para prevenir y controlar enfermedades.
                                    
                                    ul.margin1tab
                                        h3 Diagnóstico y tratamiento
                                    
                                    ul.margin6tab
                                        li Analizar muestras y emitir diagnósticos confiables.
                                        li Supervisar los análisis realizados y ajustar procedimientos.
                                        li Realizar tratamientos especializados como la Aféresis, siempre aplicando principios éticos y científicos.
                                    
                                    ul.margin1tab
                                        h3 Trabajo en equipo y calidad
                                    
                                    ul.margin6tab
                                        li Participar en equipos médicos para analizar casos y llegar a diagnósticos integrales.
                                        li Asegurar la calidad de los procedimientos y validar el uso de equipos avanzados.
                                    
                                    ul.margin1tab
                                        h3 Investigación y enseñanza
                                    
                                    ul.margin6tab
                                        li Crear materiales educativos como piezas anatómicas y fotografías.
                                        li Contribuir al avance científico mediante investigaciones en salud.
                                
                                p Los tecnólogos médicos en Laboratorio Clínico y Anatomía Patológica no solo trabajan para cuidar la salud de los pacientes, sino que también para mejorar los sistemas sanitarios y desarrollar nuevas tecnologías médicas.

                                img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/29-1-100.webp", alt="Tecnología Médica en Laboratorio Clínico y Anatomía Patológica", title=" Carrera de laboratorio clínico y anatomía patológica")    


                                .bloque6LeftParagraphsTitle 
                                    h2#h-cinco Malla curricular de laboratorio clínico y anatomía patológica
                                p La carrera de Laboratorio Clínico y Anatomía Patológica forma profesionales especializados en análisis de laboratorio, <strong>responsables de prevenir, diagnosticar y controlar enfermedades que afectan a los pacientes. </strong>
                                p Esta carrera universitaria tiene una duración de 5 años (10 semestres académicos) y, Cayetano, ofrece una <span onclick="window.open('https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/MC_LAB%20CLINICA%20ANATOMIA%20P%20%281%29.pdf', '_blank')"><strong>malla curricular </strong></span> diseñada para brindarte una formación integral en el análisis de muestras biológicas, investigación científica y uso de tecnología avanzada.
                                p Nuestra metodología pone énfasis en el aprendizaje a través de casos clínicos reales, potenciando tu capacidad de análisis y preparándote para asumir un rol esencial en el diagnóstico de enfermedades.
                                
                                img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/29-2-100.webp", alt=" Testimonial de egresada de laboratorio clínico", title="Egresada de laboratorio clínico")

                                p    
                                .bloque6LeftParagraphsTitle 
                                    h3 Metodología práctica y diferencial
                               
                                .other2
                                    p Desde el tercer ciclo, los estudiantes realizan rotaciones en sedes hospitalarias, guiados por tutores. A diferencia de otras universidades, <strong>estas experiencias prácticas comienzan al inicio de la carrera, potenciando tu aprendizaje en entornos reales.</strong>
                                    <br>
                                    p Además, tendrás la oportunidad de participar en proyectos de investigación junto a docentes y colaborar con estudiantes de otras carreras en equipos multidisciplinarios.
                                .bloque6LeftParagraphsTitle 
                                    h3 Cursos innovadores y especializados
                                    p Nuestra malla curricular incluye cursos que amplían tus horizontes, como:
                                
                                ul.margin1tab
                                    li <strong>Inglés: </strong> para acceder a artículos científicos y oportunidades internacionales.
                                    li <strong>Biología molecular: </strong>  curso teórico-práctico clave para la investigación.
                                    li <strong>Técnicas en necropsia y patología forense: </strong>  perfecto si te interesa el análisis forense.
                                    li <strong>Gestión en Servicios de Salud y Gestión de Calidad en Laboratorio Clínico: </strong>  ideal para trabajar en auditorías ISO o crear tu propio laboratorio.
                                
                                .bloque6LeftParagraphsTitle 
                                    h3 Prácticas clínicas y compromiso social
                                    p En los últimos ciclos, realizarás un internado hospitalario en áreas como Hematología, Microbiología, Inmunodiagnóstico, Química Clínica, Anatomía Patológica, Hemoterapia y Banco de Sangre. También participarás en actividades de impacto social, contribuyendo a la salud comunitaria.
                                    <br>
                                    p Este plan de estudio asegura una sólida formación teórica, técnica y práctica, preparándote para enfrentar los desafíos del ámbito clínico y aportar al bienestar de los pacientes y la sociedad. Descarga el <span onclick="window.open('https://lp.cayetano.edu.pe/wp-content/uploads/2025/01/BR_MALLA_LAB_CLIN_Y_ANAT_PATOLOGICA.pdf', '_blank')"><strong>brochure de la carrera </strong></span>  para más información.
                               
                                
                                .bloque6LeftParagraphsTitle 
                                    h2#h-seis Perfil profesional de un Tecnólogo Médico en Laboratorio Clínico
                                p El tecnólogo médico en laboratorio clínico y anatomía patológica es un <strong> profesional altamente capacitado, con vocación de servicio, pensamiento crítico e innovador. </strong>Su labor consiste en analizar muestras biológicas humanas utilizando tecnología avanzada y reactivos, emitiendo diagnósticos precisos que contribuyen a la promoción, prevención, diagnóstico, tratamiento y recuperación de la salud.
                                p Con <strong> más de 25 años formando especialistas en análisis clínicos </strong>, en Cayetano ofrecemos una enseñanza integral que combina habilidades técnicas en procedimientos de alta y escasa tecnología, con principios éticos, normas de bioseguridad y estándares de calidad nacionales e internacionales.
                                p Nuestros egresados están capacitados para desempeñarse en áreas como transfusiones sanguíneas, investigación de vacunas, biología molecular, bioquímica y gestión de laboratorios, trabajando en hospitales, clínicas privadas o gestionando su propio laboratorio. Actualmente, son parte de instituciones de prestigio como MINSA, EsSalud, las FF.AA. y clínicas privadas.
                                p En resumen, este profesional es  <strong>esencial para la identificación de enfermedades y la emisión de diagnósticos confiables</strong>, trabajando en coordinación con otros especialistas de la salud para garantizar el bienestar de las personas y la sociedad.

                                
                                .bloque6LeftParagraphsTitle 
                                    h2#h-siete ¿Dónde estudiar laboratorio clínico y anatomía patológica?
                                p Estudiar Laboratorio Clínico y Anatomía Patológica en la Universidad Peruana Cayetano Heredia te garantiza una formación de excelencia, con prácticas en modernos laboratorios y rotaciones en sedes hospitalarias. <strong> Nuestra enseñanza está orientada a prepararte para generar valor en el campo de la salud </strong>, con una visión global, interdisciplinaria y enfocada en la alta empleabilidad.
                                p Aprenderás a realizar pruebas avanzadas como reacciones alérgicas, análisis bioquímicos y biología molecular, fundamentales para diagnosticar enfermedades con precisión y mejorar la calidad de vida de los pacientes.
                                p En Cayetano, formarás parte de una comunidad que prioriza la estrategia, la innovación y la investigación, permitiéndote destacar en diversos sectores y adaptarte a un entorno profesional en constante evolución.
                                p Además, ofrecemos  <span onclick="window.open('https://drive.google.com/file/d/17DSoIou6LVEPlwZoZUJYQhHziH7Z_Yow/view', '_blank')"><strong>20 carreras de excelencia</strong></span>, diseñadas para destacar internacionalmente a través de prácticas en escenarios reales e intercambios académicos. 
                                p ¿Listo para estudiar en la universidad N.° 1 del Perú? Si tienes dudas sobre el plan educativo, estamos aquí para ayudarte en todo lo que necesites.
                                             
                            
                            
                            
                            
                            //- .bloque6LeftLabels 
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                        .bloque6Right
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            .bloque2ProgramRightContainerNewsletter 
                                //- .newsletterWhitespace
                                include includes/newletter/innerLetter.pug
                                //- .newsletterContent
                                //-     .newsletterImage
                                //-         img(src="https://blogs.cayetano.edu.pe/img/tano-newletter.gif", alt="")
                                //-     .newsletterInfo
                                //-         h3 Conéctate con tu 
                                //-             span futuro en Cayetano
                                //-         p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                //-         input(type="text" placeholder="Tu correo electrónico...")
                                //-         .newsletterInfoTerminos
                                //-             input(type="checkbox")
                                //-             h3 He leído y acepto la política de privacidad de Cayetano.
                                //-         button
                                //-             h3 Suscribirme
                                //-             img(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    .bloque4BannerLeft 
                        h3 Inicia la mejor etapa de tu vida
                        h4 en la universidad de la <strong>excelencia</strong>
                    button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=medicina-veterinaria&utm_source=blog&utm_medium=organic&utm_content=banner-2-n24', '_blank')")
                        h5 Conoce más 
                        img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                .bloque2ProgramLeft.bloque2IndividualLeft
                    .bloque2Title
                        h3 También podría interesarte
                    include includes/slider-ind/slider2.pug
        include includes/form/formBlog.pug
        footer
          .footerContainer
            img(src="https://blogs.cayetano.edu.pe/img/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        script(src="../../js/script.js" defer)
        //- script(src="./js/script.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")