doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title ¿Cuánto es la mensualidad en Cayetano Heredia?
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel="stylesheet", href="../../css/app.css")
        //- link(rel="stylesheet", href="./css/app.css")
        link(rel="icon" type="image/x-icon" href="../../favicon.png")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        <meta name="description" content="Conoce la mensualidad de nuestras carreras de excelencia para una educación de calidad.">
        <meta name="keywords" content="cayetano heredia mensualidad, cuanto es la mensualidad en cayetano heredia, lista de carreras en cayetano, mensualidad de carrera de biología en cayetano heredia, carrera estomatologia, mensualidad farmacia y bioquimica, ingenieria biomedica mensualidad, mensualidad medicina, mensualidad veterinaria​">
        <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-8KHP9CNB7Z')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-8KHP9CNB7Z');
        script.
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '344981290873569');
            fbq('track', 'PageView');
        noscript.
            img(height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=344981290873569&ev=PageView&noscript=1')
        script.
            !function (w, d, t) {
            w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++
            )ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src=i+"?sdkid="+e+"&lib="+t;e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(n,e)};
            ttq.load('CFRU7RRC77UBIS8PL99G');
            ttq.page();
            }(window, document, 'ttq');
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=AW-10905057716')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'AW-10905057716');
    body
        include includes/menu/menuMobile.pug
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
                img.blog-logo(src="https://blogs.cayetano.edu.pe/img/logo-1.webp", alt="", onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')")
                .bloque1LogosSelect
                    h3.dropdown-btn Blog Cayetano
                    ul.dropdown-menu
                        li: a(href="https://blogs.cayetano.edu.pe/pregrado/") Pregrado
                        li: a(href="https://blogs.cayetano.edu.pe/404.html") Pge  
                        li: a(href="https://blogs.cayetano.edu.pe/404.html") Especialidades
                include includes/search/searchDesktop.pug
                img.top-icon-mobile(src="https://blogs.cayetano.edu.pe/img/icon-menu2.webp", alt="")
                button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=generico&utm_source=blog&utm_medium=organic&utm_content=botonpostula', '_self')")    
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        .bloque6
            .bloque6Container
                .bloque6Calendar
                    .bloque6CalendarProgress
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')") Blog Cayetano
                        h5 |
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/', '_self')") Blog Pregrado
                    .bloque6CalendarInfo
                        img(src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                        h3 18 de diciembre del 2024
                    .bloque6Title
                        h1 Cayetano Heredia mensualidad: ¿cuáles son los costos de nuestras carreras?
                    .bloque6Item
                        h4.bloque6ItemTodos Brand
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                    .bloque6Flex
                        .bloque6Left
                            img(src="https://blogs.cayetano.edu.pe/img/image-nota-10.webp", alt="cayetano heredia mensualidad")
                            .bloque6LeftRedes
                                h3 Compartir en redes:
                                .bloque6LeftRedesContent
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-fb.webp", alt="", onclick="window.open(`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-wp.webp", alt="", onclick="window.open(`https://api.whatsapp.com/send?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-x.webp", alt="", onclick="window.open(`https://x.com/intent/post?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-link.webp", alt="", onclick="window.open(`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(window.location.href)}`, '_self')")
                            .bloque6LeftIndex
                                h3.indexclicker Índice
                                .bloque6LeftIndexContent
                                    ol 
                                        li: a(href="#h-uno"): h2 ¿Cuánto es la mensualidad en Cayetano Heredia?
                                        li: a(href="#h-tres"): h2 Lista de carreras en Cayetano
                                        li: a(href="#h-tres"): h2 Mensualidad biología
                                        li: a(href="#h-cuatro"): h2 Mensualidad estomatología
                                        li: a(href="#h-cinco"): h2 Mensualidad farmacia y bioquímica
                                        li: a(href="#h-seis"): h2 Mensualidad ingeniería biomédica 
                                        li: a(href="#h-siete"): h2 Mensualidad ingeniería ambiental
                                        li: a(href="#h-ocho"): h2 Mensualidad medicina
                                        li: a(href="#h-nueve"): h2 Mensualidad psicología
                                        li: a(href="#h-diez"): h2 Mensualidad medicina veterinaria y zootecnia
                            .bloque6LeftParagraphs
                                p Estudiar en la Universidad Cayetano Heredia te da acceso a una educación de alta calidad, donde te preparan para ser un profesional de excelencia con un plan de estudios que combina teoría y práctica. Además, Cayetano destaca por su variedad de más de <span onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/cayetano-heredia-carreras/', '_blank')">20 carreras de excelencia</span> reconocidas en áreas como gestión, ingeniería, educación, salud y ciencias, ofreciendo múltiples opciones para alcanzar tus metas profesionales.
                                p El costo de estudiar en Cayetano varía según la carrera, pero la universidad ofrece opciones de financiamiento y becas para que puedas acceder a la mejor educación  sin preocupaciones.
                                .bloque6LeftParagraphsTitle 
                                    h2#h-uno ¿Cuánto es la mensualidad en Cayetano Heredia?
                                p Las mensualidades dependen de la escala en la que te ubiques, determinada por los ingresos familiares. Este sistema permite que la educación sea accesible y equitativa para todos los estudiantes. Además, la universidad brinda asesoría personalizada para ayudarte a planificar tus pagos de manera eficiente. Consulta la <strong>lista de carreras</strong> y encuentra la que se ajuste a tus intereses. 
                                .other
                                    .bloque6LeftParagraphsTitle
                                        h2#h-tres Mensualidad biología
                                    p Si siempre te has preguntado cómo funciona la naturaleza o te apasiona comprender los procesos que dieron origen a la vida, estudiar Biología en Cayetano es para ti. Durante la carrera, recibirás herramientas teóricas y prácticas que fortalecerán tus capacidades en investigación y análisis científico. 
                                    br
                                    p La mensualidad para la carrera de Biología en Cayetano varía entre <strong>S/2,983 - S/3,729 soles</strong>, dependiendo de la escala asignada según los ingresos familiares.
                                .other
                                    .bloque6LeftParagraphsTitle
                                        h2#h-cuatro Mensualidad estomatología
                                    p Diagnostica, previene y trata alteraciones en la salud bucal, incorporando los avances más recientes en tratamientos innovadores. En Cayetano, aprenderás metodologías que enfatizan el análisis de casos reales, preparándote para enfrentar situaciones concretas en tu práctica profesional. 
                                    br
                                    p La mensualidad para la carrera de Estomatología en Cayetano varía entre <strong>S/3,355 - S/5,005 soles</strong>, según la escala asignada de acuerdo con tus ingresos familiares.
                                .other
                                    .bloque6LeftParagraphsTitle
                                        h2#h-cinco Mensualidad farmacia y bioquímica
                                    p ¿Te imaginas desarrollar productos médicos que promuevan el bienestar de las personas? Estudiando Farmacia y Bioquímica en Cayetano Heredia, tendrás la oportunidad de participar en proyectos innovadores enfocados en el desarrollo de nuevos fármacos y soluciones para la salud.
                                    br
                                    p La mensualidad para la carrera de Farmacia y Bioquímica en Cayetano varía entre <strong>S/2,428 - S/2,877 soles</strong>, dependiendo de la escala asignada según tus ingresos familiares.
                                .other
                                    .bloque6LeftParagraphsTitle
                                        h2#h-seis Mensualidad ingeniería biomédica
                                    p ¿Te imaginas crear tecnología que transforme la salud y mejore la vida de las personas? En Cayetano Heredia, estudiar Ingeniería Biomédica te prepara para combinar ciencia, tecnología y medicina, desarrollando soluciones innovadoras que impacten directamente en la atención médica. 
                                    br
                                    p La mensualidad para esta carrera se ajusta a tu situación económica, con costos que van desde <strong>S/2,435 hasta S/3,900 soles</strong>. Además, tendrás acceso a prácticas en instituciones líderes y oportunidades de investigación únicas en el país.
                                .other
                                    .bloque6LeftParagraphsTitle
                                        h2#h-siete Mensualidad ingeniería ambiental
                                    p Si tienes un fuerte compromiso con el cuidado del medio ambiente y la sostenibilidad, Ingeniería Ambiental en Cayetano es para ti. Esta carrera se distingue por su enfoque científico, técnico e innovador, preparándote para diseñar e implementar sistemas y procesos que consideren los riesgos ambientales. Además, serás parte de proyectos científicos que impacten positivamente en tu entorno profesionalmente.  
                                    br
                                    p La mensualidad para esta carrera varía entre <strong>S/2,200 - S/2,940 soles</strong>, dependiendo de la escala asignada según tus ingresos familiares. Con opciones de financiamiento, estudiar en Cayetano está al alcance de todos.
                                .other
                                    .bloque6LeftParagraphsTitle
                                        h2#h-ocho Mensualidad medicina
                                    p ¿Te imaginas cuidar la salud y el bienestar de las personas con un enfoque profesional y humano? En Cayetano, la carrera de Medicina te preparará para realizar prácticas clínicas en diversos contextos, aplicando tus conocimientos con calidad y compromiso. Podrás desempeñarte en hospitales, clínicas e instituciones de salud, marcando la diferencia en la vida de tus pacientes. 
                                    br
                                    p La mensualidad para esta carrera está entre <strong>S/4,998 - S/6,510 soles</strong>, dependiendo de tu escala asignada. Con opciones de financiamiento disponibles, estudiar Medicina en Cayetano está a tu alcance.
                                .other
                                    .bloque6LeftParagraphsTitle
                                        h2#h-nueve Mensualidad psicología
                                    p ¿Te interesa comprender y ayudar a las personas desde una perspectiva profesional y humana?, la carrera de Psicología en Cayetano te ofrece una formación integral, y es la única universidad donde puedes elegir entre cuatro especializaciones: Psicología Clínica, Organizacional, Educacional y Social-Comunicativa. Esto te permitirá potenciar tu aprendizaje y prepararte para ser un un gran profesional en el área que más te apasiona.
                                    br
                                    p La mensualidad para Psicología varía entre <strong>S/2,625 - S/3,990 soles</strong>, según tu escala asignada. Además, con opciones de financiamiento, podrás enfocarte en tus metas sin preocuparte por los costos.
                                .other
                                    .bloque6LeftParagraphsTitle
                                        h2#h-diez Mensualidad medicina veterinaria y zootecnia
                                    p La carrera de Medicina Veterinaria en Cayetano, te forma como un profesional integral, capaz de diagnosticar, tratar y prevenir enfermedades en animales, mientras contribuyes al cuidado de la fauna y la salud pública. Con un enfoque práctico y científico, también tendrás la oportunidad de especializarte en diversas áreas.
                                    br
                                    p Con mensualidades entre <strong>S/2,783 - S/4,200 soles</strong>, ajustadas a tu situación económica, y opciones de financiamiento disponibles, estudiar en Cayetano es más accesible de lo que imaginas.
                                img(src="https://blogs.cayetano.edu.pe/img/nota10-image1.webp", alt="Revisa cuadro informativo de Cayetano", title="Carreras cayetano heredia")
                                img(src="https://blogs.cayetano.edu.pe/img/nota10-image2.webp", alt="Lista carreras cayetano", title="Mensualidades carreras Cayetano")
                                //- p Si tienes otras carreras en mente o te interesa conocer más opciones, revisa nuestro cuadro informativo.
                                p(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/matricula-cayetano-heredia/', '_self')")
                                    strong Si estás listo para dar el siguiente paso en tu futuro profesional, <span onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/matricula-cayetano-heredia/', '_blank')">revisa los pasos para que te matricules con éxito</span>.
                        .bloque6Right
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            .bloque2ProgramRightContainerNewsletter 
                                include includes/newletter/innerLetter.pug
                                //- .newsletterWhitespace
                                //- .newsletterContent
                                //-     .newsletterImage
                                //-         img(src="https://blogs.cayetano.edu.pe/img/tano-newletter.gif", alt="")
                                //-     .newsletterInfo
                                //-         h3 Conéctate con tu 
                                //-             span futuro en Cayetano
                                //-         p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                //-         input(type="text" placeholder="Tu correo electrónico...")
                                //-         .newsletterInfoTerminos
                                //-             input(type="checkbox")
                                //-             h3 He leído y acepto la política de privacidad de Cayetano.
                                //-         button
                                //-             h3 Suscribirme
                                //-             img(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    .bloque4BannerLeft
                        h3 Inicia la mejor etapa de tu vida
                        h4 en la universidad de la <span>excelencia</span>
                    button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=medicina-veterinaria&utm_source=blog&utm_medium=organic&utm_content=banner-2-n10', '_self')")
                        h5 Conoce más 
                        img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                .bloque2ProgramLeft.bloque2IndividualLeft
                    .bloque2Title
                        h3 También podría interesarte
                    include includes/slider-ind/slider2.pug
        include includes/form/formBlog.pug
        footer
          .footerContainer
            img(src="https://blogs.cayetano.edu.pe/img/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        script(src="../../js/script.js" defer)
        //- script(src="./js/script.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")