doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title ¿De qué trata la ingeniería ambiental y su importancia?
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel="stylesheet", href="../../css/app.css")
        //- link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        <meta name="description" content="Descubre de qué trata la ingeniería ambiental, su importancia y las ramas en las que puedes especializarte." />
        <meta name="keywords" content="de que trata la ingenieria ambiental,que es ingenieria ambiental​,importancia de la ingenieria ambiental,ramas de la ingenieria ambiental, que es lo que hace un ingeniero ambiental, malla curricular de ingenieria ambiental,cuanto dura la carrera de ingenieria ambiental, ingenieria ambiental campo laboral, perfil del egresado de ingenieria ambiental, donde estudiar ingenieria ambiental peru" />
        link(rel="icon" type="image/x-icon" href="../../favicon.png")
        <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-8KHP9CNB7Z')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-8KHP9CNB7Z');
        script.
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '344981290873569');
            fbq('track', 'PageView');
        noscript.
            img(height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=344981290873569&ev=PageView&noscript=1')
        script.
            !function (w, d, t) {
            w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++
            )ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src=i+"?sdkid="+e+"&lib="+t;e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(n,e)};
            ttq.load('CFRU7RRC77UBIS8PL99G');
            ttq.page();
            }(window, document, 'ttq');
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=AW-10905057716')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'AW-10905057716');
    body
        include includes/menu/menuMobile.pug
        .bloque1.bloque1Individual
          .bloque1Container
            .bloque1Logos
                img.blog-logo(src="https://blogs.cayetano.edu.pe/img/logo-1.webp", alt="", onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')")
                .bloque1LogosSelect
                    h3.dropdown-btn Blog Cayetano
                    ul.dropdown-menu
                        li: a(href="https://blogs.cayetano.edu.pe/") Pregrado
                        li: a(href="https://blogs.cayetano.edu.pe/404.html") Pge  
                        li: a(href="https://blogs.cayetano.edu.pe/404.html") Especialidades
                include includes/search/searchDesktop.pug
                img.top-icon-mobile(src="https://blogs.cayetano.edu.pe/img/icon-menu2.webp", alt="")
                button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=generico&utm_source=blog&utm_medium=organic&utm_content=botonpostula', '_self')")    
                    h3 Quiero ser de Cayetano
                    img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        .bloque6
            .bloque6Container
                .bloque6Calendar
                    .bloque6CalendarProgress
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/', '_self')") Blog Cayetano
                        h5 |
                        h5(onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/', '_self')") Blog Pregrado
                    .bloque6CalendarInfo
                        img(src="https://blogs.cayetano.edu.pe/img/calendar-icon-whit.webp", alt="")
                        h3 07 de marzo del 2025
                    .bloque6Title
                        h1 ¿En qué consiste la carrera de Ingeniería Ambiental? Descubre qué es lo que hace un ingeniero y su importancia
                    .bloque6Item
                        h4.bloque6ItemIngenieria  Ingeniería Ambiental
        .bloque7.bloque7Individual
            .bloque7Container.bloque7ContainerIndividual
                .bloque7Left
                    .bloque6Flex
                        .bloque6Left
                            img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/Nota-26%20%281%29.webp", alt=" Descubre de qué trata la ingeniería ambiental, su malla y dónde estudiarla", title="¿De qué trata la Ingenieria Ambiental?")
                            .bloque6LeftRedes
                                h3 Compartir en redes:
                                .bloque6LeftRedesContent
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-fb.webp", alt="", onclick="window.open(`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-wp.webp", alt="", onclick="window.open(`https://api.whatsapp.com/send?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-x.webp", alt="", onclick="window.open(`https://x.com/intent/post?text=${encodeURIComponent(window.location.href)}`, '_self')")
                                    img(src="https://blogs.cayetano.edu.pe/img/icon-link.webp", alt="", onclick="window.open(`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(window.location.href)}`, '_self')")
                            .bloque6LeftIndex
                                h3.indexclicker Índice
                                .bloque6LeftIndexContent
                                    ol 
                                        li: a(href="#h-uno"): h2 ¿Qué es ingeniería ambiental?
                                        li: a(href="#h-dos"): h2 Importancia de la carrera de ingeniería ambiental
                                        li: a(href="#h-tres"): h2 Ramas de la carrera de ingeniería ambiental
                                        li: a(href="#h-cuatro"): h2 ¿Qué hace un ingeniero ambiental?
                                        li: a(href="#h-cinco"): h2 Malla curricular de ingeniería ambiental
                                        li: a(href="#h-seis"): h2 ¿Cuánto dura la carrera de ingeniería ambiental?
                                        li: a(href="#h-siete"): h2 Campo laboral de la ingeniería ambiental
                                        li: a(href="#h-ocho"): h2 Perfil del egresado de ingeniería ambiental
                                        li: a(href="#h-nueve"): h2 ¿Dónde estudiar ingeniería ambiental en Perú?
                                       

                            .bloque6LeftParagraphs
                                p ¿Te interesa cuidar el planeta y encontrar soluciones para problemas como la contaminación o el cambio climático? Si tienes <strong>compromiso con la sostenibilidad y la protección del medio ambientec, ¡la Ingeniería Ambiental podría ser para ti!
                                p Esta profesión combina la ciencia, la tecnología y la gestión para identificar, prevenir y solucionar problemas que afecten al medio ambiente. En pocas palabras, los ingenieros ambientales <strong>diseñan estrategias para proteger la naturaleza y promover un desarrollo sostenible.</strong>
                                p Imagínate liderando proyectos para reducir la contaminación del aire, crear tecnologías que limpien los océanos o desarrollar planes para conservar los bosques y recursos naturales. Esa es la increíble labor de un ingeniero ambiental.
                                p En este artículo, te contaremos de qué trata la ingeniería ambiental, su importancia y las ramas en las que puedes especializarte; así cómo la malla curricular y dónde estudiar la carrera. 


                                .bloque6LeftParagraphsTitle 
                                    h2#h-uno ¿Qué es la ingeniería ambiental?
                                p La ingeniería ambiental es una rama de la ingeniería que combina ciencia y tecnología para cuidar el medio ambiente y promover la sostenibilidad. Su objetivo es <strong>reducir el impacto de las actividades humanas en la naturaleza y fomentar el uso responsable de los recursos naturales.</strong>
                                p Los ingenieros ambientales trabajan resolviendo problemas como la contaminación del aire y del agua, el manejo de residuos, y la protección de los ecosistemas frente al cambio climático. Para ello, utilizan conocimientos de ciencias como la biología y la química junto con otras materias.
                                p Su propósito principal es <strong>crear soluciones innovadoras, como reducir las emisiones de gases del efecto invernadero o promover prácticas sostenibles</strong> que beneficien al planeta.
                                p ¿Te imaginas liderando proyectos que ayuden a cuidar el medio ambiente? Descubre por qué esta carrera es clave para el futuro y las ramas en las que podrías especializarte.

                                .bloque6LeftParagraphsTitle 
                                    h2#h-dos Importancia de la carrera de ingeniería ambiental 
                                p La ingeniería ambiental es esencial para la conservación y preservación de los recursos naturales. Esta carrera, que no deja de crecer y busca soluciones innovadoras para combatir problemas como el cambio climático y la contaminación, lo que la convierte en una de las profesiones con mayor futuro.
                                p Esta profesión <strong>es fundamental para enfrentar problemas como el cambio climático, proteger y conservar los recursos naturales, y gestionar los residuos de manera responsable, incluyendo su reciclaje</strong>. También busca controlar los daños al medio ambiente y promover prácticas sostenibles que aseguren un planeta saludable para las generaciones futuras.
                                p Entre sus funciones destacan la investigación, la enseñanza, y el diseño de proyectos ambientales innovadores. Además, se encargan de garantizar el cumplimiento de normas y leyes ambientales para proteger el entorno de manera efectiva.
                                p En resumen, la ingeniería ambiental es indispensable para construir un futuro sostenible, enfrentar los grandes retos globales y garantizar una convivencia equilibrada entre las personas y la naturaleza. 

                                .bloque6LeftParagraphsTitle
                                    h2#h-tres Ramas de la carrera de ingeniería ambiental
                                p La ingeniería ambiental incluye diversas ramas especializadas que abordan problemas específicos del medio ambiente y la sostenibilidad. En Cayetano, recibirás una formación teórico-práctica con enfoque en investigación, lo que te permitirá especializarte en estas 6 áreas:
                                ul.margin1tab
                                    li: h3  Biotecnología aplicada al medio ambiente:
                                        p Es una de las ramas científicas más útiles en la práctica, pues se centra en proteger y restaurar el medioambiente. Este campo está creciendo a nivel internacional, posicionándose como una área clave para enfrentar desafíos ecológicos.  
                                    li: h3 Cambio climático y energías renovables:
                                        p Diseña estrategias para reducir los efectos del cambio climático, como la disminución de emisiones de gases de efecto invernadero, y fomenta el uso de energías limpias como la solar, eólica y geotérmica.

                                    li: h3 Tratamiento de agua:
                                        p Asegura el acceso a agua limpia mediante el tratamiento de aguas residuales y la preservación de ecosistemas acuáticos, cumpliendo con estándares de calidad y normativas locales.
                                    
                                    li: h3 Remediación de áreas contaminadas:
                                        p Aplica medidas para eliminar o reducir contaminantes en terrenos afectados, protegiendo la salud humana y evitando la propagación de sustancias nocivas en el medio ambiente.
                                    
                                    li: h3 Gestión ambiental:
                                        p Es una de las áreas en constante evolución que busca desarrollar estrategias para preservar la biodiversidad, mejorar el ambiente urbano y rural, y equilibrar las necesidades económicas con el cuidado de la naturaleza.

                                    li: h3 Salud ambiental:
                                        p Es una disciplina que se encarga de identificar, evaluar y controlar riesgos ambientales que puedan afectar a la población. Está estrechamente relacionada con los Objetivos de Desarrollo Sostenible (ODS) de la ONU, ya que busca garantizar condiciones de vida saludables y proteger los ecosistemas para un futuro sostenible.
                                
                                p La ingeniería ambiental incluye diversas ramas especializadas que abordan problemas específicos del medio ambiente y la sostenibilidad. En Cayetano, recibirás una formación teórico-práctica con enfoque en investigación, lo que te permitirá especializarte en estas 6 áreas:
                                


                                .bloque6LeftParagraphsTitle 
                                    h2#h-cuatro ¿Qué hace un ingeniero ambiental?
                                p Un ingeniero ambiental trabaja por proteger el medio ambiente y mejorar la calidad de vida de las personas mediante el diseño de soluciones que reduzcan el impacto de las actividades humanas en la naturaleza. Algunas de sus principales actividades incluyen:
                                <br>
                                ul.margin1tab
                                    li Desarrollar estudios que determinen el impacto ambiental, social y en la salud de las personas.
                                    li Realizar el diseño de procesos de biorremediación ambiental, a través del uso de organismos vivos para el tratamiento de ecosistemas.
                                    li Planificar de manera estratégica la gestión de los recursos hídricos, energéticos y de suelo.
                                    li Participar en proyectos que fomenten la preservación y optimización de los recursos hídricos.
                                    li Elaborar, experimentar e implementar estrategias para mitigar los impactos ambientales negativos.
                                    
                                p Los ingenieros ambientales combinan conocimientos científicos, técnicos y sociales para diseñar un futuro más sostenible, protegiendo el medio ambiente y mejorando la vida de las personas.
                                
                                img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/26-foto%201-100.webp", alt="Carrera de Ingeniería Ambiental", title=" Carrera de ingeniería ambiental")




                                .bloque6LeftParagraphsTitle 
                                    h2#h-cinco Malla curricular de ingeniería ambiental
                                p La carrera de ingeniería ambiental ofrece una formación integral para enfrentar los desafíos ambientales actuales, desarrollando soluciones sostenibles en un contexto de cambio global.
                                p La <span onclick="window.open('https://drive.google.com/file/d/17DSoIou6LVEPlwZoZUJYQhHziH7Z_Yow/view', '_self')"><strong>malla curricular de Cayetano</strong></span>  se distingue por su enfoque científico, técnico e innovador, con una sólida base en ciencias básicas, un fuerte énfasis en temas medioambientales y una profunda conciencia social y ética.
                                p Lo que nos distingue:
                                ul.margin1tab
                                    li  <strong>Excelencia académica: </strong>somos la universidad N.° 1 en Perú según <strong>THE World University Rankings  </strong>y líderes en innovación e investigación según el <strong>SCIMAGO Institutions Rankings. </strong>
                                    li <strong>Enfoque práctico e interdisciplinario: </strong>desde el primer ciclo, nuestros estudiantes combinan teoría y práctica a través de salidas de campo e intervenciones en el <strong>Centro de Innovación y Emprendimiento Santa María del Mar, donde aplican sus conocimientos en escenarios reales.</strong>
                                img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/26-foto%202-100.webp", alt="Estudiantes de la carrera de Ingeniería Ambiental", title="  Centro de Innovación y Emprendimiento Santa María del Mar")

                                
                                p Gracias a nuestro servicio de movilidad intercampus, los estudiantes pueden trasladarse fácilmente entre el Campus Central y otras <span onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/cayetano-heredia-sedes/', '_self')"><strong>sedes de Cayetano.</strong></span>

                                ul.margin1tab
                                    li <strong>Formación interdisciplinaria: </strong>tendrás la oportunidad de colaborar en diversas iniciativas con estudiantes de Biología, Química, Ingeniería Informática, Ingeniería Biomédica e Ingeniería Industria.
                                    li <strong>Infraestructura de clase mundial: </strong>contamos con Laboratorios de Investigación y Desarrollo (LID) equipados para desarrollar tus investigaciones y proyectos.
                                    li <strong>Innovación y emprendimiento: </strong>nuestra malla curricular incluye competencias en innovación y emprendimiento, con apoyo de <span onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/bioincuba/', '_self')"><strong>BIOINCUBA</strong></span> para desarrollar tu propia startup.
                                    li <strong>Compromiso social y ambiental:</strong> podrás unirte a grupos de voluntariado enfocados en el desarrollo sostenible e inclusivo.
                                    li <strong>Intercambio estudiantil:</strong> gracias a nuestros convenios, tendrás acceso a programas de intercambio y prácticas en universidades de renombre a nivel mundial.
                                p Si buscas una formación científica, técnica e innovadora con un fuerte compromiso ético y social, Cayetano es tu mejor opción. <span onclick="window.open('https://lp.cayetano.edu.pe/wp-content/uploads/2025/01/BR_MALLA_INGENIERIA_AMBIENTAL.pdf', '_self')"><strong>Descarga nuestro brochure</strong></span> para más información.

                                .bloque6LeftParagraphsTitle 
                                    h2#h-seis ¿Cuánto dura la carrera de ingeniería ambiental?
                                p La carrera de ingeniería ambiental tiene una<strong> duración de 5 años (10 semestres académicos).</strong> Durante este tiempo, los estudiantes reciben una formación interdisciplinaria con enfoque en investigación científica, tecnología y compromiso social, desarrollando soluciones innovadoras para diversos sectores.
                                p Al culminar la carrera en Cayetano, obtienen el <strong>título de Bachiller en Ciencias con mención en Ingeniería Ambiental</strong>, una distinción que amplía las oportunidades para realizar posgrados. En Perú, solo cuatro universidades otorgan este bachiller, siendo dos son nacionales, lo que nos diferencia frente a otras instituciones. Además, otorgamos el título profesional de <strong>Ingeniero Ambiental.</strong>
                                p Nuestra metodología permite especializarte en seis áreas clave, garantizando una formación integral y orientada a la práctica:
                                img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/26-3-100.webp", alt="Especialidades en Ingeniería Ambiental.", title=" 6 especialidades de la Ingeniería Ambiental")

                                
                                
                                p Actualmente, nuestros egresados son líderes en el campo, capaces de enfrentar los retos del cambio climático y construir soluciones más sostenibles.

                                .bloque6LeftParagraphsTitle 
                                    h2#h-siete Campo laboral de la ingeniería ambiental
                                p La carrera ofrece un amplio campo laboral que abarca tanto sectores tradicionales como áreas emergentes. Nuestros egresados pueden desarrollarse en organismos públicos y privados de los sectores agrícola, industrial, comercial y académico, así como en áreas especializadas como:
                                <br>
                                ul.margin1tab
                                    li Remediación y bioingeniería
                                    li Tecnologías de la información ambiental
                                    li Regulación y fiscalización ambiental
                                    li Seguridad, Salud Ocupacional y Medio Ambiente (SSOMA)
                                    li Sostenibilidad
                                    li Investigación aplicada al medio ambiente
                                    li Emprendimiento ambiental
                                    li Consultoría ambiental
                                p En Cayetano, formamos profesionales capacitados para identificar y resolver problemas ambientales, convirtiéndose en agentes de cambio que promueven la sostenibilidad en diversas industrias.
                                

                                .bloque4Banner.bloque4Banner2
                                    .banner2Image
                                        img(src="https://blogs.cayetano.edu.pe/img/banner-image1.webp", alt="")
                                    .banner2Container
                                        .bloque4BannerLeft
                                            h3 ¿Buscas una educación de calidad?
                                            h4 Estudia en la <span>universidad <br> N.° 1 del Perú</span>
                                        button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=brand&utm_source=blog&utm_medium=organic&utm_content=banner-1-n2', '_self')")
                                            h5 Postula aquí
                                            img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                             

                                .bloque6LeftParagraphsTitle 
                                    h2#h-ocho Perfil del egresado de ingeniería ambiental
                                p Un ingeniero ambiental está preparado para abordar problemas ambientales desde un enfoque técnico, científico y social, con un fuerte compromiso con la sostenibilidad.
                                <br>
                                ul.margin1tab
                                    li Diseñar e implementar sistemas y procesos considerando riesgos, impactos, sostenibilidad y restricciones económicas, sociales y normativas.
                                    li Resolver problemas ambientales específicos aplicando conocimientos avanzados en ciencias e ingeniería.
                                    li Formular soluciones técnicas, creativas e innovadoras para los desafíos de la Ingeniería Ambiental.
                                    li Liderar iniciativas y trabajar colaborativamente en contextos diversos.
                                    li Incentivar la innovación y el emprendimiento en el ámbito ambiental.
                                    li Demostrar responsabilidad profesional, ética y compromiso con el entorno social y natural.
                                   
                                p En resumen, serás un profesional integral, preparado para abordar retos y aportar soluciones sostenibles en un mundo en constante transformación.


                                 .bloque6LeftParagraphsTitle 
                                    h2#h-nueve ¿Dónde estudiar ingeniería ambiental en Perú?
                                p Estudiar Ingeniería Ambiental en la Universidad Peruana Cayetano Heredia garantiza una formación académica de excelencia, con prácticas en modernos laboratorios y salidas de campo en nuestra sede experimental en Santa María del Mar. Nos enfocamos en prepararte para generar valor en cualquier área, con una visión global, interdisciplinaria y orientada a la alta empleabilidad.
                                
                                p En Cayetano, formarás parte de una comunidad que prioriza la estrategia, la innovación y la investigación, permitiéndote destacar en diferentes sectores y adaptarte a un entorno profesional en constante evolución.
                                
                                p Además, ofrecemos <span onclick="window.open('https://blogs.cayetano.edu.pe/pregrado/cayetano-heredia-carreras/', '_self')"><strong>20 carreras de excelencia</strong></span>, diseñadas para destacar internacionalmente a través de prácticas en escenarios reales e intercambios académicos. ¡Únete a Cayetano y marca la diferencia en el mundo profesional!
                                
                            //- .bloque6LeftLabels 
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                            //-     h3 Ciencias
                        .bloque6Right
                .bloque7Right
                    .bloque2ProgramRight.bloque2ProgramRightDesktop
                        .bloque2ProgramRightContainer
                            .bloque2ProgramRightContainerCategories
                            .bloque2ProgramRightContainerNewsletter 
                                //- .newsletterWhitespace
                                include includes/newletter/innerLetter.pug
                                //- .newsletterContent
                                //-     .newsletterImage
                                //-         img(src="https://blogs.cayetano.edu.pe/img/tano-newletter.gif", alt="")
                                //-     .newsletterInfo
                                //-         h3 Conéctate con tu 
                                //-             span futuro en Cayetano
                                //-         p Recibe información sobre nuestros programas, consejos de orientación vocacional, beneficios y mucho más para ayudarte a decidir el camino que mejor se alinea con tus metas. 
                                //-         input(type="text" placeholder="Tu correo electrónico...")
                                //-         .newsletterInfoTerminos
                                //-             input(type="checkbox")
                                //-             h3 He leído y acepto la política de privacidad de Cayetano.
                                //-         button
                                //-             h3 Suscribirme
                                //-             img(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
        .bloque4 
            .bloque4Container
                .bloque4Banner
                    .bloque4BannerLeft 
                        h3 Inicia la mejor etapa de tu vida
                        h4 en la universidad de la <span>excelencia</span>
                    button(onclick="window.open('https://lp.cayetano.edu.pe/admision-cayetano/?utm_campaign=pregrado-aon&utm_term=medicina-veterinaria&utm_source=blog&utm_medium=organic&utm_content=banner-2-n24', '_self')")
                        h5 Conoce más 
                        img.keyframe-button-movement(src="https://blogs.cayetano.edu.pe/img/arrow-black-button.webp", alt="")
                .bloque2ProgramLeft.bloque2IndividualLeft
                    .bloque2Title
                        h3 También podría interesarte
                    include includes/slider-ind/slider2.pug
        include includes/form/formBlog.pug
        footer
          .footerContainer
            img(src="https://blogs.cayetano.edu.pe/img/logo-white.webp", alt="")
            .footerTexts
              h3 Campus Central:
              h3 Av. Honorio Delgado 430
              h3 Urb. Ingeniería, San Martín de Porres 
        script(src="../../js/script.js" defer)
        //- script(src="./js/script.js" defer)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")